.BrandValues {
    clear: both;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    position: relative;
    z-index: 1;
    @include for-desktop {
        flex-wrap: wrap;
    }
    &::before {
        content:"";
        background-color: $yellowLight;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX( -50%);
        height: 100%;
        right: 0;
        top: 0;
        width: 100vw;
        z-index: -1;
    }
    &-container {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        @include for-tablet-landscape {
            flex: 0 0 50%;
        }
        @include for-phone {
            flex: 0 0 100%;
        }
    }
    &-item {
        padding: 8px;
        text-align: center;
        @include for-phone {
            padding: 12px;
        }
        &--conservateur {
            img {
                height: auto;
                max-width: 220px;
                width: 100%;
            }
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
    &-value {
        @include txt-titleAllCapsSecondary;
        font-size: 21px;
        margin-top: 20px;
        white-space: nowrap;
    }


}