.BreadCrumb {
    @include for-desktop {
        margin-left: 0;
    }
    #breadcrumbs {
        color: $blue;
        @include txt-mini;
        font-weight: 700;
        a {
            color: $blue;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }
}
