.Button {
    background: $blue url('img/bg_button_hover.svg') no-repeat top -200px left -200px;
    background-size: 20%;
    border: 0;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.5s ease;
    &:hover {
        border-color: $yellow;
        background-color: $yellow;
        background-size: 200%;
        background-position: center;
        color: white;
        text-decoration: none;
        transition: background 0.5s ease;
    }
    &--small {
        font-size: 12px;
        padding: 0.7em 1em;
        &.Button--icon {
            .Button-icon {
                margin: 0;
                max-width: 16px;
            }
        }
    }
    &--medium {
        padding: 12px 20px;
    }
    &--alignLeft {
        text-align: left;
    }
    &--celesteBlue {
        background-color: $blueCeleste;
        color: $blue;
    }
    &--white {
        background-color: white;
        color: $blue;
    }
    &--secondary {
        background-color: transparent;
        border: 2px solid $blue;
        color: $blue;
        transition: all 0.3s ease;
        &::after {
            background-color: transparent;
        }
        &:hover {
            background-color: $yellow;
            color: white;
            border-color: $yellow;
            transition: all 0.3s ease;
        }
    }
    &--icon {
        align-items: center;
        display: flex;
        .Button-icon {
            display: inline-block;
            margin: 0 4px;
            max-width: 25px;
            &--tel {
                max-width: 16px;
            }
            &--map {
                max-width: 16px;
            }
            img {
                display: block;
            }
        }      
        .Button-txt {
            margin: 0 4px;
        }
    }
    &.disabled {
        opacity: 0.3;
        &:hover {
            background-color: $blue;
            cursor: not-allowed;
        }
    }
}

button.single_add_to_cart_button, a.add_to_cart_button{
    padding-left: 70px !important;
    &:before {
        background-image: url('img/icons/icon_cart_white.png');
        background-repeat: no-repeat;
        background-size: 100%;
        bottom: 0;
        display: inline-block;
        content: "";
        height: 25px;
        left: 30px;
        margin: auto;
        position: absolute;
        top: 0;
        width: 25px;
     }
} 


