.mini-cart-count {
    background-color: $yellow;
    border-radius: 50px;
    color: $blue;
    line-height: 10px;
    min-width: 20px;
    padding: 5px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: 6px;
    transition: all 0.3s ease;
}