.CategoryCard {
    background-color: white;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); 
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    height: 100%;
    text-align: center;
    transform: scale(1);
    transition: all 0.1s ease-out;
    &:hover {
        -webkit-box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.2); 
        box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.2);
        transform: scale(1.05);
        transition: all 0.2s ease-in;
    }
    a {
        font-weight: normal;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            .CategoryCard-txt {
                opacity: 0;
                transition: opacity 0.2s ease-out;
            }
            .CategoryCard-cta {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease-in;
            }
        }
    }
    &-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    &-content {
        padding: 24px 16px;
        position: relative;
    }
    &-hover {
        position: relative;
    }
    &-txt {
        color: black;
        @include txt-normal;
        transition: opacity 0.5s ease-in;
    }
    &-cta {
        display: inline-block;
        left: 0;
        margin: 0 20px;
        min-width: 150px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.3s ease-out;
        visibility: hidden;
    }
}