.CheckoutCreateAccount {
    text-align: center;
    &-title {
        @include txt-titleAllCapsSecondary;
        display: block;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    &-txt {
        margin-bottom: 20px;
    }
    &-btnContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 260px;        
        button {
            margin: 10px 0;
            width: 100%;
        }
    }
    &-obligatoire {
        display: block;
        margin-bottom: 30px
    }
    &-obligatoire, &-legal {
        @include txt-small;
    }
}