.Col {
    padding: 0 25px;
    @include for-tablet-landscape {
        padding: 0 15px;
    }
    &-12 {
        @include column(100%);
    }
    &-10 {
        @include column(80%);
    }
    &-9 {
        @include column(75%);
    }
    &-8 {
        @include column(66.666667%);
    }
    &-7 {
        @include column(58.333333%);
    }
    &-6 {
        @include column(50%);
    }
    &-5 {
        @include column(41.666667%);
    }
    &-4 {
        @include column(33.333333%);
    }
    &-3 {
        @include column(25%);
    }
    &-2 {
        @include column(16.66666667%);
    }
    &-hide {
        display: none;
    }
    // LARGE
    &-lg {
        &-12 {
            @include for-desktop {
                @include column(100%);
            }               
        }
        &-10 {
            @include for-desktop {
                @include column(80%);
            }               
        }
        &-8 {
            @include for-desktop {
                @include column(66.666667%);
            }                    
        }
        &-6 {
            @include for-desktop {
                @include column(50%);
            }   
        }
        &-4 {
            @include for-desktop {
                @include column(33.333333%);
            }            
        }
    }
    // MEDIUM
    &-md {
        &-12 {
            @include for-tablet-landscape {
                @include column(100%);
            }
        }
        &-10 {
            @include for-tablet-landscape {
                @include column(83.333333%);
            }           
        }
        &-6 {
            @include for-tablet-landscape {
                @include column(50%);
            }
        }
        &-5 {
            @include for-tablet-landscape {
                @include column(41.666667%);
            }
        }
        &-4 {
            @include for-tablet-landscape {
                @include column(33.333333%);
            }            
        }
        &-3 {
            @include for-tablet-landscape {
                @include column(25%);
            }                
        }
    }
    // SMALL
    &-sm {
        &-12 {
            @include for-tablet-portrait {
                @include column(100%);
            }
        }
        &-10 {
            @include for-tablet-portrait {
                @include column(80%);
            }
        }
        &-9 {
            @include for-tablet-portrait {
                @include column(75%);
            }
        }
        &-8 {
            @include for-tablet-portrait {
                @include column(66.666667%);
            }
        }
        &-6 {
            @include for-tablet-portrait {
                @include column(50%);
            }
        }
        &-4 {
            @include for-tablet-portrait {
                @include column(33.333333%);
            }
        }
        &-3 {
            @include for-tablet-portrait {
                @include column(25%);
            }
        }
        &-2 {
            @include for-tablet-portrait {
                @include column(20%);
            }
        }
    }
    //XS
    &-xs {
        &-12 {
            @include for-phone {
                @include column(100%);
            }
        }
        &-10 {
            @include for-phone {
                @include column(80%);
            }
        }
        &-9 {
            @include for-phone {
                @include column(75%);
            }
        }
        &-8 {
            @include for-phone {
                @include column(66.666667%);
            }
        }
        &-6 {
            @include for-phone {
                @include column(50%);
            }
        }
        &-4 {
            @include for-phone {
                @include column(33.333333%);
            }
        }
        &-3 {
            @include for-phone {
                @include column(25%);
            }
        }
        &-2 {
            @include for-phone {
                @include column(20%);
            }
        }
        &-hide {
            @include for-phone {
                display: none;
            }
        }
        &--fullWidth {
            @include for-phone {
                padding: 0;
            }
        }
    }

}