.Container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 25px;
    position: relative;
    width: 100%;
    // slider de produits
    &--sliderProducts {
        max-width: 1100px;
        padding: 0;
    }
    // instagram
    &--instagram {
        max-width: 1200px;
        padding: 0;
    }
}


@include for-desktop {
    .Container {
        &--sliderProducts {
            max-width: 970px;
        }
    }
}

@include for-tablet-landscape {
    .Container {
        max-width: 720px;
        padding: 0 15px;
        &--instagram {
            max-width: 100%;
        }
    }
}

@include for-tablet-portrait {
    .Container {
        max-width: 540px;
        &--instagram {
            max-width: 100%;
        }
    }
}

@include for-phone {
    .Container {
        max-width: 100%;
        &--fullWidthMobile {
            padding: 0;
        }
        &--instagram {
            max-width: 100%;
        }
    }
}