.Dropdown {
    display: inline-block;
    position: relative;
    &-button {
        &:hover {
            & + .Dropdown-menuContainer {
                display: block;
                transition: all 0.3s ease;
                //opacity: 1;
            }
        }
    }
    &-menuContainer {
        background-color: transparent;
        display: none;
       // opacity: 0;
        left: 50%;
        min-width: 170px;
        padding-top: 8px;
        position: absolute;   
        text-align: center;
        transform: translateX(-50%);
        transition: all 0.3s ease;
        width: 100%;
        z-index: 99;
        &:hover {
            display: block;
        }
    }
    &-menu {
        background-color: $blue;
        border-radius: 25px;
        padding: 8px;     
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}