.FooterReassurance {
    background-color: white;
    @include txt-small;
    padding: 16px 0;
    position: relative;
    &-linkFAQ {
        color: $txtColor;
        font-weight: normal;
        text-decoration: none;
        &:hover {
            .FooterReassurance-title {
                text-decoration: underline;
            }
            .FooterReassurance-icon {
                transform: translateY(-4px);
                transition: transform 0.2s ease;
            }
        }
        &--fake {
            &:hover {
                .FooterReassurance-title {
                    text-decoration: none;
                }
            }
        }
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &-item {
        padding: 16px 0;
        text-align: center;
    }
    &-icon {
        display: inline-block;
        margin-bottom: 10px;
        height: 60px;
        transition: transform 0.35s ease;
        width: 60px;
    }
    &-title {
        @include txt-normal;
        color: $blue;
        font-weight: 700;
    }
}