.FooterAddress {
    span {
        display: block;
        font-size: 14px;        
        line-height: 16px;
    }
    &-name {
        text-transform: uppercase;
    }
    &-mail {
        margin-top: 16px;
    }
    &-open {
        font-size: 12px;
        line-height: 16px;
    }
    &-contactCta {
        margin-top: 16px;
        @include for-phone {
            text-align: center;
        }
    }
    &-groupe {
        margin-top: 30px;
        a {
            color: white;
            font-weight: normal;
            text-decoration: none;
        }
    }
    &-groupeTxt {
        @include txt-mini;
        font-weight: normal;
        padding-top: 16px;
        span {
            display: inline;            
            @include txt-mini;
            text-decoration: underline;
        }
    }
    &-groupeLogos {
        max-width: 70px;
    }
}