.FooterAccordion {
    &-btnArrow {
        display: none;
    }
    @include for-phone {
        margin-bottom: 0;
        position: relative;
        &-btnArrow {
            background-color: transparent;
            border: 0;
            display: block;
            background-image: url('img/icons/icons_navigate_down_white.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            content: "";
            margin: 16px;
            position: absolute;
            right: 0;
            top: 0;
            height: 16px;
            width: 16px;
            transition: transform 0.3s ease;
        }
        &.open {
            .FooterAccordion-btnArrow {
                transform: rotate(180deg);
            }
        }
        &-panel {
            display: none;
            padding-top: 0;
        }   
    }
}