.FooterLinks {
    background-color: $blue;
    color: white;
    font-weight: 700;
    padding: 16px 0;
    @include for-phone {
        padding-bottom: 80px;
    }
    &-bloc {
        padding: 16px 0;
        @include for-phone {
            border-top: 1px solid #3173b0;
            padding: 0;
            & > * {
                padding: 16px;
            }
        }
        &--first {
            @include for-phone {
                border-top: 0;
            }
        }
        &--newsletter {
            @include for-phone {
                text-align: center;
                .FooterLinks-title {
                    padding-bottom: 0;
                    text-align: left;
                }
                .FooterLinks-info {
                    text-align: left;
                }
                .Form--newsletter {
                    padding-top: 0;
                }
            }
        }
    }
    &-title {
        color: white;
        display: block;
        @include txt-normal;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    &-list {
        a {
            color: white;
            display: table;
            @include txt-small;
            margin-bottom: 6px;
            text-decoration: none;
            transition: color 0.3s ease;
            &:hover {
                color: $yellow;
                transition: color 0.3s ease;
            }
        }
    }
    &-sep {
        background-color: white;
        border: 0;
        height: 1px;
        margin: 16px 0;
        max-width: 50px;
    }
    &-info {
        font-weight: normal;
        @include txt-small;
        margin-bottom: 16px;
    }
} 