.FriseShop {
    margin: 50px 0;
    @include for-tablet-landscape {
        margin-top: -36px;
    }
    img {
        display: block;
        width: 100%;
    }
    @include for-phone {
        display: none;
    }
}