.Gutenberg {
    & > * {
        margin: 30px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    h1 {
        @include title-primary;
        margin: 25px 0;
    }
    h2 {
        @include txt-titleAllCapsSecondary;
        margin: 30px 0 20px;
    }
    h3 {
        color: $txtColor;
        @include title-mini;
        margin: 20px 0;
    }
    h4 {
        @include title-xsmall;
        margin: 20px 0;
    }
    h5 {
        color: $txtColor;
        @include title-mini;
        margin: 15px 0;
    }
    h6 {
        @include title-xmini;
        margin: 15px 0;
    }
    p {
        margin: 15px 0;
    }
    ul {
        list-style-type: '-';
        margin: 15px 0;
        padding-left: 30px;
        li {
            padding-left: 4px;
        }
    }

    // COULEURS

    .has-text-color {
        &.has-blue-color {
            color: $blue;
        }
        &.has-black-color {
            color: $txtColor;
        }
        &.has-yellow-color {
            color: $yellow;
        }
        &.has-green-color {
            color: $green;
        }
        &.has-red-color {
            color: $red;
        }
    }

    /// LEGENDES
    figcaption {
        color: $blue;
        @include txt-mini;
        margin: 10px 0;
        opacity: 0.8;
        text-align: center;
    }

    /// IMAGES
    .wp-block-image {
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
    }

    /// GALLERIE
    .wp-block-gallery {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            .blocks-gallery-item {
                figure {
                    position: relative;
                }
            }
        }
    }

    /// BUTTON
    .wp-block-button__link {
        @extend .Button;
        margin: 30px 0;
    }

    /// DOWNLOAD
    .wp-block-file {
        & > a {
            &:first-child {
                @extend .InputContent;
            }
        }
        .wp-block-file__button {
            @extend .Button;
        }
    }

    /// HR
    .wp-block-separator {
        border-color: $grey;
        border-top: 0;
        margin: 40px 0;
        &.is-style-wide  {
            
        }
    }

    /// BLOCKQUOTE 
    .wp-block-quote {
        border-left: 4px solid $blue;
        padding-left: 20px;
        p {
            @include title-mini;
        }
    }

    .wp-block-pullquote {
        background-color: $blue;
        blockquote {
            color: white;
            p {
                @include txt-titleAllCapsSecondary;
                color: white;
            }
        }
    }

    /// TABLEAU
    .wp-block-table {
        @include txt-small;
        text-align: center;
        thead {
            border: 1px solid $blue;
            border-bottom: 0;
        }
        tbody {
            border: 1px solid $blue;
        }
        th, td {
            padding: 10px;
        }
    }

    /// ACCORDION
    .wp-block-pb-accordion-item {
        border-bottom: 2px solid $blue;
        margin-top: 20px;
        padding-bottom: 20px;
        &.is-open {
            .c-accordion__title {
                &::after {
                    transform: rotate(0);
                    transition: transform 0.3s ease;
                }
            }
        }
        .c-accordion__title {
            @include txt-small;
            color: $txtColor;
            margin: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 0 !important;
            padding-top: 0 !important;            
            text-transform: uppercase;
            transition: color 0.3s ease;
            &::after {
                background-image: url('img/icons/icons_navigate_down_blue.png');
                background-repeat: no-repeat;
                background-size: 100%;
                content: "";
                height: 16px;
                transition: transform 0.3s ease;
                transform: rotate(180deg);
                top: 0;
                width: 16px;
            }
            &:hover {
                color: $blue;
                transition: color 0.3s ease;
            }
        }
        .c-accordion__content {
            p, li {
                @include txt-small;
            }
            & > * {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}