.Hashtag {
    color: #e8d1b3;
    display: block;
    font-family: $fontSecondary;
    opacity: 0.9;
    text-align: center;
    width: 100%;
    &--armordelices {
        font-size: 124px;
        line-height: 124px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
    &--plusdebeurre {
        font-size: 74px;
        line-height: 74px;
    }
}

@include for-tablet-landscape {
    .Hashtag {
        opacity: 1;
        &--armordelices {
            font-size: 90px;
            line-height: 90px;
        }
        &--plusdebeurre {
            font-size: 54px;
            line-height: 54px;
        }
    }
}


@include for-tablet-portrait {
    .Hashtag {
        &--armordelices {
            font-size: 50px;
            line-height: 50px;
        }
        &--plusdebeurre {
            font-size: 40px;
            line-height: 40px;
        }
    }
}

@include for-phone {
    .Hashtag {
        &--armordelices, &--plusdebeurre {
            font-size: 35px;
            line-height: 35px;
        }
        &--plusdebeurre {
            font-size: 24px;
            line-height: 24px;
        }
    }
}