.HeaderMobile {
    background-color: white;
    border-top: 1px solid $greyDark;
    display: none;
    @include for-tablet-landscape {
        display: block;
    }
    &-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &-burger {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
    &-logo {
        left: 0;
        margin: auto;
        max-width: 190px;
        position: absolute;
        right: 0;
        @include for-tablet-landscape {
            max-width: 95px;
        }
    }
    &-icon {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 30px 0;
        height: 40px;
        width: 40px;
        @include for-tablet-landscape {
            height: 20px;
            margin: 15px 0;
            width: 20px;
        }
        &--cart {
            position: relative;
            img {
                @include for-tablet-landscape {
                    max-width: 20px;
                }
            }
        }
        &--login {
            img {
                max-width: 28px;
                @include for-tablet-landscape {
                    max-width: 14px;
                }
            }
        }
        &--burger {
            img {
                max-width: 34px;
                @include for-tablet-landscape {
                    max-width: 17px;
                }
            }
        }
    }
    &-cart {
        .CartCount {
            right: -16px;
            top: 0;
        }
    }
    &-tools {
        align-items: center;
        display: flex;
        a {
            margin: 0 20px;
            @include for-tablet-landscape {
                margin: 0 10px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}