.HeaderSticky {
    @include background-toile;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateY(-80px);
    transition: transform 0.3s ease;
    width: 100%;
    z-index: 99;
    &-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
        padding: 4px 16px 0;
        position: relative;
        &::before {
            background-image: url('img/border_motif_sticky.png');
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100%;
            bottom: -26px;
            content: "";
            display: block;
            height: 28px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }
    &-logo, &-navPrimary, &-navSecondary {
        padding: 0 16px;
    }
    &-logo {
        margin-left: 0;
        max-width: 120px;
    }
    &-navPrimary {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        nav {
            display: flex;
            .MenuBigIcon {
                margin: 0 16px;
                img, span {
                    display: inline-block;
                    margin: 0 2px;
                }
                &--shop {
                    img {
                        left: auto;
                        top: auto;
                    }
                    span {
                        background-image: none;
                        font-family: $fontSecondary;
                        font-size: 18px;
                        letter-spacing: -1px;
                        line-height: 22px;
                        padding: 0;
                    }
                }
            }
        }
    }
    &-navSecondary {
        margin-left: auto;
        nav {
            display: flex;
            flex-wrap: wrap;
            a {
                @extend .Button;
                align-items: center;
                background-color: $blue;
                border-radius: 50px;
                display: flex;
                height: 32px;
                justify-content: center;
                margin: 0 8px;
                padding: 0;
                width: 32px;
                img {
                    display: block;
                    height: auto;
                    width: 16px;
                }
            }
        }
    }
}

.HeaderSticky {
    &.show {
        transform: translateY(0);
        transition: transform 0.3s ease;
    }
}


/// RESPONSIVE 

.HeaderSticky {
    @include for-desktop {
        &-navPrimary {
            ul {
                .menu-item {
                    padding: 0 8px;
                    a {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
        &-navSecondary {
            .LogAndCart {
                &-cart {
                    .ButtonCart{
                        .Button-txt {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @include for-tablet-landscape {
        display: none !important;
    }
}