.HeaderPromo {
    background-color: $grey;
    padding: 8px 0;
    text-align: center;
    @include for-phone {
        background-color: $yellowLight;
    }
    &-txt {
        font-size: 15px;
        line-height: 19px;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        strong {
            color: inherit;
        }
    }
}