.HomeBrandItem {
    margin-bottom: 32px;
    text-align: center;
    &-img {
        background-color: $greyDark;
        height: 200px;
        width: 100%;
    }
    &-txtContainer {
        padding: 24px;
    }
    &-txt {
        margin: 0 auto;
        max-width: 500px;
    }
    &-link {
        border: 1px solid $greyDark;
        display: block;
        &:hover {
            border-color: $blue;
            color: $blue;
            text-decoration: none;
            .HomeBrandItem-title {
                color: $blue;
            }
        }
    }
}