.InfosNutritionnelles {
    margin: auto;
    &-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        margin: 0 auto;
        max-width: 400px;
        text-transform: uppercase;
    }
    &-infos {
        @include txt-mini;
        margin: 0 auto;
    }
    &-listItem {
        border-bottom: 1px solid $grey;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }
    &-ListItemValue {
        font-weight: 700;
    }
    .tablepress {
        margin: 20px auto 0;
        max-width: 730px;
    }
}