.Ingredients {
    &-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
    &-content {
        margin: auto;
        max-width: 730px;
        p {
            margin-bottom: 16px;
        }
    }
    &-enSavoirPlus {
        margin-top: 32px;
        span {
            display: block;
            font-weight: 700;
            margin-bottom: 8px;
        }
    }
    &-faq-contact {
        color: $blue;
    }
}