.InstagramFlux {
    padding-top: 60px;
    position: relative;
    text-align: center;
    .sbi_item {
        overflow: visible !important;
    }
    .sbi_photo {
        border: 15px solid white;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2); 
        transform: scale(1);
        transition: all 0.1s ease-out;
        &:hover {
            -webkit-box-shadow: 0px 13px 25px 0px rgba(0,0,0,0.2); 
            box-shadow: 0px 13px 25px 0px rgba(0,0,0,0.2);
            transform: scale(1.05);
            transition: all 0.2s ease-in;
        }
    }
    &-title {
        @include txt-titleAllCapsSecondary;
        margin: 10px 0;
    }
    &-hashtag {
        &--armordelices {
            position: absolute;
            top: 0;
        }
    }
}



