.LoginSidebarContent {
    .woocommerce {
        form.login {
            border: 0;
            margin: 0;
            padding: 0;
            .wpmc-mv-createAccount, .wpmc-mv-rgpd {
                display: none;
                visibility: hidden;
            }
        }
    }
    &-title {
        text-align: center;
    }
    &-separator {
        margin: 32px 0;
        text-align: center;
        position: relative;
        @include for-phone {
            margin: 24px 0;
        }
        &::before {
            background-color: $greyDark;
            content: "";
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
        span {
            background-color: $yellowLight;
            color: $greyDark;
            font-size: 14px;
            font-weight: 700;
            padding: 4px 12px;
            text-transform: uppercase;
            position: relative;
            z-index: 9;
        }
    }
    &-create {
        text-align: center;
        &-title {
            @include txt-titleAllCapsSecondary;
        }
        p {
            margin-bottom: 24px;
        }
    }
    .woocommerce-form-login__submit, #login-button-create-account {
        margin: auto;
        min-width: 230px;        
    }
    &-infosForm {
        display: block;
        margin-top: 30px;
        @include txt-small;
    }
}