.LogoBar {
    background-image: url('img/bg-mariniere.png');
    background-repeat: repeat-x;
    height: 130px;
    position: relative;
    text-align: center;
    & > .Container {
        height: 100%;
    }
    &-logo {
        background-image: url('img/bg_toile_logo.jpg');
        @include retina-background-image {
            background-image: url('img/bg_toile_logo@2x.jpg');
        }
        background-size: 100%;
        display: inline-block;
        padding: 1px 10px;
        max-width: 160px;
    }
    &-links {
        @include background-toile;
        padding: 5px 30px;
        position: absolute;
        right: -8px;        
        top: 50%;
        transform: translateY(-50%);
        z-index: 90;
        & > * {
        }
        @include for-desktop {
            right: 0;
        }
    }
    &-madeleine {
        left: 0;
        max-width: 240px;
        position: absolute;
        top: 0;
    }
}