.MenuWC {
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    padding: 8px;
    position: relative;
    text-decoration: none;
    &-link-icon {
        display: inline-block;
        height: auto;
        position: relative;
        top: -4px;
        width: 16px;
        &--cart {
            top: 0;
            width: 24px;
        }
        &--dropdown {
            top: -1px;
        }
    }
}