.MenuBigIcon {
    display: inline-block;
    margin: 0 12px;
    position: relative;
    text-decoration: none;
    &-icon {
        height: auto;
        display: block;
        margin: 0 auto;
        position: relative;
        width: 24px;
        z-index: 1;
    }
    &-label {
        display: block;
        font-family: $fontSecondary;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: -1px;
        line-height: 22px;
        margin: 6px 0 0;
        position: relative;
        text-align: center;
        z-index: 1;
    }
    // menu boutique
    &--shop {
        .MenuBigIcon-label {
            @include activ-menu($color:'yellow');
            position: relative;
        }
        &.activ {
            .MenuBigIcon-label {
                background: none;
            }
        }
    }
    &.activ {
        .MenuBigIcon-label {
            @include activ-menu-brush;
            &::after {
                display: none;
            }   
        }
    }
    &--jeu {
        .MenuBigIcon-label {
            @include activ-menu($color:'green');
        }        
    }
}
