.MenuBurger {
    &-panel {
        height: 100%;
        overflow-y: auto;
        padding-right: 50px;
        position: fixed;
        transform: translateX(0%);
        transition: transform 0.75s ease;
        z-index: 99;
    } 
    &-container {
        background-color: $blue;
        height: 100%;
        padding-top: 50px;
        width: 270px;
    }
    &-close {
        align-items: center;
        background-color: $blue;
        border: none;
        display: flex;
        height: 50px;
        justify-content: center;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        img {
            max-width: 14px;
        }
    }
    &-nav {
        display: flex;
        flex-direction: column;
        a {
            display: block;
            color: white;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 1px solid #3173b0;
            padding: 12px 32px;
            img {
                height: 16px;
                margin-right: 12px;
                position: relative;
                top: -4px;
                width: 16px;
            }            
            &.activ {
                background-color: rgba($color: white, $alpha: 0.2);
            }
            &.MenuBurger-nav-link--jeu {
                background-color: #4daf2e;
            }
        }
        &-secondary {
            a {
                font-weight: normal;
                text-transform: none;
            }
        }
    }
    &-myAccount {
        .menu-item {
            border-bottom: 0;
        }        
    }
    &-mask {
        background-color: rgba($color: black, $alpha: 0.5);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        transition: opacity 0.25s ease;
        width: 100%;
        z-index: 98;
    }
    &.hidden {
        .MenuBurger-mask {
            display: none;
          opacity: 0;
          transition: transform 0.25s ease;
        }
        .MenuBurger-panel {
          transform: translateX(-120%);
          transition: transform 0.25s ease;
        }
      }
}