.MenuBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 12px 0;
    a {
        cursor: pointer;
        font-size: 14px;
        line-height: 18px;
        padding: 8px;
        position: relative;
        text-decoration: none;
        z-index: 1;
        &.activ {
            @include activ-menu-brush;
            &::before {
                height: 70%;
                left: -9px;
                top: 5px;
                width: 107%;
            }
        }
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
}