.MessageOrderWaitingPayment {
    background-color: white;
    border: 1px solid $grey;
    padding: 32px;
    &-titleContainer {
        align-items: center;
        display: flex;
        margin-bottom: 20px;
    }
    &-icon {
        height: auto;
        margin-right: 8px;
        max-width: 40px;
    }
    &-title {
        @include title-xsmall;
        color: $blue;
        display: block;
        margin-top: 4px;
    }
    &-sav {
        margin-top: 20px;
        @include txt-mini;
    }
    // special pour accueil
    &--frontpage {
        padding: 24px;
        .MessageOrderWaitingPayment-sav {
            display: none;
        }   
    }
}