.Nav {
    @include background-toile;
    padding: 8px 0;
    ul {
        text-align: center;
        .menu-item {
            display: inline-block;
            padding: 0 16px;
            a {
                color: $blue;
                @include txt-titleAllCapsSecondary;
                display: inline-block;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                transform: scale(1);
                transition: all 0.1s ease-in;
                &:hover {
                    color: black;
                    transform: scale(1.05);
                    transition: all 0.2s ease-in;
                }
            }
            &--boutique {
                a {
                    @include background-brush;
                    @include title-handwrite;
                    font-size: 38px;
                }
            }
        }
    }
}