.NavMyAccount {
    li {
        a {
            color: white;
            display: inline-block;
            font-size: 14px;
            line-height: 18px;
            padding: 10px 0;
            text-decoration: none;
        }
        &.NavMyAccount-logout {
            margin-top: 5px;
            a {
                border-top: 1px solid rgba($color: white, $alpha: 0.1);
                font-weight: normal;
            }
        }
    }
}