.Newsletter {
    background-image: url('img/bg_illus_armor.jpg');
    @include retina-background-image {
        background-image: url('img/bg_illus_armor@2x.jpg');
    }
    background-size: cover;
    padding: 50px 0;
    @include for-tablet-landscape {
        padding: 25px 0;
    }
    &-container{
        @extend .Container;
        background-color: $blue;
        color: white;
        max-width: 730px;
        padding: 50px 90px;
        @include for-tablet-landscape {
            padding: 25px 45px;
        }
    }
    &-title {
        @include txt-titleAllCapsSecondary;
        color: white;
        display: block;
    }
    a {
        color: white;
        font-weight: normal;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .sib_signup_form {
        position: relative;
    }
    .sib-mv-inputs-container {
        display: flex;
        & > p {
            margin: 10px 0;
        }
    }
    .sib-email-area input, .sib-default-btn {
        //margin: 10px 0;
    }
    .sib-email-area {
        flex: 1;
        input {
            background-color: transparent;
            border-bottom: 2px solid white;
            color: white;
            padding: 16px;
            transition: border-bottom-color 0.2s ease-in;
            width: 100%;
            &:hover, &:focus {
                border-bottom-color: $yellow;
                transition: border-bottom-color 0.2s ease-in;
            }
        }
    }
    ::placeholder {
        color: white;
        font-weight: 700;
        @include txt-small;
        opacity: 0.5;
    }
    .sib-default-btn {
        @extend .Button;
        @extend .Button--white;
    }
    .sib-mv-rgpd {
        @include txt-small;
        margin: 10px 0;
        padding-left: 20px;
        position: relative;
        text-align: left;
        input[type=checkbox] {
            left: 0;
            position: absolute;
            top: 2px;
        }
    }
    .sib_loader {
        background-image: url('img/Disk-1s-24px-min.gif');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 20px;
        position: absolute;
        right: -30px;
        top: 22px;
        width: 20px;
        img {
            display: none;
        }
    }
    .sib_msg_disp {
        .sib-alert-message {
            border-radius: 0;
            margin: 10px 0 !important;
        }
    }
}

///// VERSION MOBILE & POPIN


@mixin Newsletter--mobile {
    padding: 20px;
    text-align: center;
    .Newsletter-container {
        padding: 40px 20px;
    }
    .sib-mv-inputs-container {
        flex-wrap: wrap;
        justify-content: center;
        .sib-email-area {
            flex: 0 0 100%;
        } 
    }
    .sib_loader {
        right: 0;
        top: 26px;
    }
}

.Newsletter--mobile {
    @include Newsletter--mobile();
}


@include for-tablet-portrait {
    .Newsletter {
        @include Newsletter--mobile();
    }
}


