.PageTitle, .woocommerce-products-header {
    margin-bottom: 50px;
    text-align: center;
    @include for-phone {
        margin-bottom: 24px
    }
    .page-title {
        @include background-brush;
        @include title-handwrite;
    }
    &-txt {
        color: $blue;
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto;
        max-width: 630px;
        @include for-phone {
            font-size: 15px;
            line-height: 19px;
        }
    }
} 

.woocommerce-products-header {
    margin-bottom: 30px;
}