.Pagination {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .page-numbers {
        border: 2px solid $blue;
        border-radius: 100px;
        display: inline-block;
        font-family: $fontSecondary;
        font-size: 30px;
        height: 45px;
        line-height: 30px;
        margin: 8px;
        min-width: 32px;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s ease;
        width: 45px;
        &:hover {
            background-color: $blue;
            color: white;
            transition: all 0.3s ease;
        }
        &.current {
            background-color: $blue;
            color: white;
        }
        &.next, &.prev {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px;
            border: none;
            font-size: 0;
            font-weight: normal;
            &:hover {
                background-color: transparent;
            }
        }
        &.prev {
            background-image: url('img/icons/icons_navigate_left_blue.png');
        }
        &.next {
            background-image: url('img/icons/icons_navigate_right_blue.png');
        }
    }
}


@include for-phone {
    .Pagination {
        .page-numbers {
            font-size: 20px;
            height: 32px;
            padding: 0;
            width: 32px;
        }
    }
}


/// PAGINATION WOOCOMMERCE

.woocommerce-pagination {
    margin-bottom: 80px;
    .page-numbers {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > li {
            & > a, & > span {
                border: 2px solid $blue;
                border-radius: 100px;
                display: inline-block;
                font-family: $fontSecondary;
                font-size: 30px;
                height: 45px;
                line-height: 30px;
                margin: 8px;
                min-width: 32px;
                padding: 8px;
                text-align: center;
                text-decoration: none;
                transition: all 0.3s ease;
                width: 45px;
                &:hover {
                    background-color: $blue;
                    color: white;
                    transition: all 0.3s ease;
                }
                &.current {
                    background-color: $blue;
                    color: white;
                }
                &.next, &.prev {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 16px;
                    border: none;
                    font-size: 0;
                    font-weight: normal;
                    &:hover {
                        background-color: transparent;
                    }
                }
                &.prev {
                    background-image: url('img/icons/icons_navigate_left_blue.png');
                }
                &.next {
                    background-image: url('img/icons/icons_navigate_right_blue.png');
                }
            }
        }
    }
}


@include for-phone {
    .woocommerce-pagination {
        .page-numbers {
            & > li {
                & > span, & > a {
                    font-size: 20px;
                    height: 32px;
                    padding: 0;
                    width: 32px;
                }
            }
        }
    }
}