.PayLeftForShipping {
    color: $blue;
    @include txt-normal;
    margin: 40px auto;
    max-width: 310px;
    text-align: center;
    @include for-phone {
        margin: 24px 0;
    }
    p {
        @include background-brush;
        padding-bottom: 20px;
        padding-top: 20px;
        
    }
    span {
        color: $blue !important;
        font-weight: 700;
    }
}