.PolaroidSlider {
    .slick-list {
        overflow: visible;
    }
    .slick-slide {
        box-shadow: 0px 0px 18.75px 6.25px rgba(0, 0, 0, 0.2);
        transform: scale(1);
        transition: all .3s cubic-bezier(.4, 0, .2, 1);
    }
    //.slick-center {
    //    transform: scale(1);
    //}
    .slick-slide:not(.slick-current) {
        //opacity: 0;
    }
    //.slick-current + .slick-slide {
    //    opacity: 1;
    //}

    .slick-slide:not(.slick-current) {
        transform: scale(0.7);
        @include for-tablet-portrait {
            opacity: 0.35;
            transform: scale(0.9);
        }

      }
    &-btn {
        background-color: transparent;
        border: none;
        max-width: 24px;
        padding: 0;
        opacity: 0.7;
        transition: opacity 0.3s ease;
        &:hover {
            opacity: 1;
            transition: opacity 0.3s ease;
        }
    }
}