.pum-theme-lightbox {
    .pum-container {
        border: 0 !important;
        left: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 500px !important;
        padding: 0 !important;
        right: 0 !important;
        width: calc(100% - 30px) !important;
        @include for-tablet-portrait {
            max-width: 360px !important;
        }
        .pum-content {
            & > p {
                &:first-child {
                    margin: 0;
                }
            }
            img {
                height: auto !important;
                margin: 0 !important;
                width: 100% !important;
            }
            p, h1, h2, h3, h4, h5 {
                margin: 20px;
            }
        }
    }
    .pum-close {
        background-image: url('img/icons/icon_close_white.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 10px !important;
        background-color: $blue !important;
        border: 0 !important;
        box-shadow: none !important;
        margin: 8px !important;
        right: 0 !important;
        top: -20px !important;
        font-size: 0 !important;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: $yellow !important;
            transition: background-color 0.3s ease;
        }
    }
}

// pour problème d'affichage (important)
.pum-overlay.pum-active,
.pum-overlay.pum-active .popmake.active {
opacity: 1 !important;
display: block !important
}
