.PopinNewsletter {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 99;
    &-content {
        display: flex;
        flex-wrap: wrap;
        opacity: 1;
        padding-top: 120px;
        position: relative;
        transition: opacity 0.4s ease;
        z-index: 99;
    }
    &-mask {
        background-color: rgba($color: #000000, $alpha: 0.8);
        height: 100%;
        opacity: 1;
        position: fixed;
        transition: opacity 0.25s ease;
        width: 100%;
        z-index: 98;
    }
    &-formContainer {
        position: relative;
        width: 50%;
        @include for-tablet-portrait {
            width: 100%;
        }
        .Newsletter--mobile {
            padding: 50px;
            @include for-tablet-landscape {
                padding: 40px 20px;
            }
        }
    }
    &-closeBtn {
        background-color: transparent;
        border: 0;
        height: 20px;
        margin: 20px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        @include for-tablet-landscape {
            margin: 10px;
        }
    }
    &-img {
        background-image: url('img/newsletter-image.jpg');
        @include retina-background-image {
            background-image: url('img/newsletter-image@2x.jpg');
        }
        background-size: cover;
        width: 50%;
        @include for-tablet-portrait {
            display: none;
        }
    }
    &.hidden {
        .PopinNewsletter-mask {
          opacity: 0;
          transition: opacity 0.25s ease;
        }
        .PopinNewsletter-content {
            opacity: 0;
            transition: opacity 0.4s ease;
        }
      }
}