.ProductsSlider, .upsells {
    .slick-list {
        padding-top: 20px;
    }
    .slick-prev, .slick-next {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 100%;
        border: 0;
        font-size: 0;
        height: 20px;
        opacity: 0.7;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;
        width: 13px;
        &:hover {
            opacity: 1;
            transition: opacity 0.3s ease;
        }
    }
    .slick-prev {
        background-image: url('img/icons/icons_navigate_left_blue.png');
        left: -40px;
        @include for-desktop {
            left: -32px;
        }
        @include for-phone {
            left: 0;
        }
    }
    .slick-next {
        background-image: url('img/icons/icons_navigate_right_blue.png');
        right: -40px;
        @include for-desktop {
            right: -32px;
        }
        @include for-phone {
            right: 0;
        }
    }
    .slick-dots {
        margin-top: 16px;
        li {
            display: inline-block;      
            line-height: 16px;      
            button {
                background-color: transparent;
                border: 1px solid $blue;
                border-radius: 50px;
                font-size: 0;
                line-height: 16px;
                height: 16px;
                margin: 0 4px;
                width: 16px;
            }
            &.slick-active {
                button {
                    background-color: $blue;
                }
            }
        }
    }
}