.Reassurance {
    &-item {
        display: inline-block;
        @include txt-small;
        font-style: italic;
        margin-right: 30px;
        img {
            height: auto;
            max-width: 20px;
        }
    }
}