.RibbonProduct {
    display: block;
    position: absolute;
    text-align: center;
    top: -16px;
    width: 100%;
    img {
        height: auto;
        margin: 0 auto;
        max-width: 140px;
    }
}