.ShippingItem {
    background-color: white;
    border: 1px solid white;
    color: $txtColor;
    cursor: pointer;
    display: block !important;
    @include txt-small;
    font-weight: 700;
    outline: 1px solid $blueCelesteLight;
    padding: 24px 16px;
    text-align: center;
    transition: border-color 0.3s ease;
    &:hover {
        border-color: $blue;
        outline-color: $blue;
        transition: border-color 0.3s ease;
    }
    &-img {
        display: inline-block;
        margin-bottom: 16px;
        img {
            max-width: 130px;
        }
    }
    &-name {
        font-size: 13px;
    }
    &-time {
        @include txt-small;
        font-weight: normal;
        margin-top: 4px;
    }
    &--guest {
        background-color: transparent;
        cursor: default;
        outline-color: transparent;
        &:hover {
            border-color: transparent;
            outline-color: transparent;
        }
    }
}