.ShopInfoHome {
    margin: 30px 0;
    &-name, &-address, &-infos, &-ctaContainer {
        margin: 8px 0;
    }
    &-address {
        font-style: italic;
    }
    &-ctaContainer {
        margin: 0 -8px;
    }
    &-link {
        align-items: center;
        display: inline-flex;
        margin: 0 8px;
        text-decoration: none;
        &-icon {
            height: auto;
            margin-right: 4px;
            max-width: 12px;
        }
        &-txt {
            font-size: 14px;
            line-height: 18px;
        }
    }
}