.Sidebar {
  &-mask {
    background-color: rgba($color: #000000, $alpha: 0.8);
    height: 100%;
    position: fixed;
    transition: opacity 0.25s ease;
    width: 100%;
    z-index: 9998;
  }
  &-content {
    background-color: $yellowLight;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    right: 0;
    transform: translateX(0%);
    transition: transform 0.75s ease;
    width: 500px;
    z-index: 9999;
    @include for-phone {
      width: 100%;
    }
  }
  &-container {
    padding: 48px;
    position: relative;
    @include for-phone {
      padding: 25px;
    }
  }
  &-closeBtn {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: $blue;
    display: flex;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin: 20px;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
  }
  &-title {
    margin: 24px 0;
    text-align: center;
    @include background-brush;
    @include title-handwrite;
    @include for-phone {
      font-size: 34px;
      line-height: 34px;
    }
  }
  &.hidden {
    .Sidebar-mask {
      opacity: 0;
      transition: transform 0.25s ease;
    }
    .Sidebar-content {
      transform: translateX(100%);
      transition: transform 0.25s ease;
    }
  }
}
