.xoo-wsc-modal {
    .xoo-wsc-header, .xoo-wsc-body, .xoo-wsc-footer {
        background-color: $yellowLight;
    }
    .xoo-wsc-body {
        overflow: visible;
    }
    .xoo-wsc-container {
        background-color: $yellowLight;
        padding: 20px;
        overflow-y: scroll;
        z-index: 1000002;
    }
    .xoo-wsc-opac {
        z-index: 1000001;
    }
    .xoo-wsc-header, .xoo-wsc-footer, .xoo-wsc-sl-heading {
        //padding: 24px;
        padding: 0;
    }
    .xoo-wsc-header {
        padding-bottom: 30px;
        padding-top: 48px;
        @include for-phone {
            padding-bottom: 15px;
        }
        .xoo-wsc-icon-cross {
            background-image: url('img/close_blue_24dp.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            height: 30px;
            position: absolute;
            right: 20px;
            top: 80px;
            width: 30px;
            &::before {
                display: none;
            }
        }
        .xoo-wsc-notice-error {
            display: none;
            @include txt-small;
            strong {
                color: $red;
            }
            .xoo-wsc-icon-cross {
                display: none;
            }
        }
    }
 
    .xoo-wsch-text {
        @include background-brush;
        @include title-handwrite;
        @include for-phone {
            font-size: 40px;
            line-height: 48px;
        }
    }
    .xoo-wsc-empty-cart {
        padding-top: 0;
    }
    a.xoo-wsc-ft-btn-continue {
        @extend .Button--celesteBlue;
    }
    // PRODUIT
    .xoo-wsc-products {
        //padding: 0 30px;
        padding: 0;
    }
    .xoo-wsc-product {
        padding: 30px 0;
        .xoo-wsc-img-col {
            align-self: flex-start;
        }
        .xoo-wsc-pname {
            padding-right: 15px;
            a {            
                color: $blue;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;
            }
        }
        .xoo-wsc-pprice, .xoo-wsc-pweight {
            color: $txtColor;
            font-size: 12px;
            font-weight: normal;
            line-height: 14px;
            ins {
                text-decoration: none;
            }
            .woocommerce-Price-amount.amount {
                color: $txtColor;
                font-size: 12px;
                font-weight: normal;
                line-height: 14px;
            }
        }
        .xoo-wsc-smr-ptotal {
            margin-left: 24px;
            margin-top: 6px;
        }
        .woocommerce-Price-amount.amount {
            color: $blue;
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
        }
        .tax_label {
            display: none;
        }
        .xoo-wsc-qty-price-mv {
            align-items: center;
            display: flex;          
            margin-top: 16px;
        }
        .xoo-wsc-smr-del {
            background-image: url('img/icons/icon-trash-blue.png');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 20px;
            position: relative;
            width: 20px;
            transition: opacity 0.3s ease;
            &::before {
                font-size: 0;
            }
            &::after {
                content: "";
                background-image: url('img/icons/icon-trash-black.png');
                background-repeat: no-repeat;
                background-size: 100%;
                height: 20px;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 20px;
                transition: opacity 0.3s ease;
                z-index: 1;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    // CROSS SELLING
    .xoo-wsc-footer-title {
        @include txt-titleAllCapsSecondary;
        display: block;
        margin-bottom: 16px;
        text-align: center;
    }
    .xoo-wsc-sp-container {
        background-color: transparent;
        .xoo-wsc-sp-product {
            align-items: flex-start;
            padding: 0;
            .xoo-wsc-sp-left-col {
                flex: 0 0 20%;
                a {
                    display: block;
                }
                img {
                    max-width: none;
                    width: 100%;
                }
            }
            .xoo-wsc-sp-right-col {
                .xoo-wsc-sp-rc-top {
                    padding-bottom: 0;
                }
                .xoo-wsc-sp-title {
                    a {
                        font-size: 14px;
                        line-height: 18px;
                        text-decoration: none;
                    }
                }
                .xoo-wsc-sp-weight {
                    color: $blue;
                }
                .xoo-wsc-sp-price {
                    .woocommerce-Price-amount.amount {
                        color: black;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
                .xoo-wsc-sp-atc {
                    display: block;
                    margin-top: 8px;
                    width: 100%;
                    a.button {
                        @extend .Button;
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // COUPON

    .xoo-wsc-ft-extras {
        .xoo-wsc-ftx-row {
            border: 0;
            padding: 0;
            span.xoo-wsc-ftx-icon {
               display: none;
            }
            .xoo-wsc-toggle-slider {
                background-image: url('img/icons/icon-arrow-right-blue.png');
                background-size: 22px 14px;
                background-repeat: no-repeat;
                background-position: center right 16px;
                border: 1px solid $blue;
                color: $blue;
                display: block;
                font-weight: 700;
                padding: 16px;
                text-align: left;
                transition: all 0.3s ease;
                width: 100%;
                &:hover {
                    border-color: $yellow;
                    padding-left: 24px;
                    transition: all 0.3s ease;
                }
            }
            .xoo-wsc-remove-coupon span {
                color: $blue;
            }
        }
    }

    //TOTAL 

    .xoo-wsc-ft-totals {
        border-top: 1px solid $grey;
        font-size: 16px;
        margin-top: 40px;
        padding: 40px 0;
        text-transform: uppercase;
        .xoo-wsc-ft-amt-coupon {
            display: block;
            margin-bottom: 16px;
            text-align: right;
            a {
                font-size: 14px;
                text-transform: none;
                span {
                    background-image: url('img/icons/icon-arrow-right-blue.png');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    height: 14px;
                    margin-left: 8px;
                    position: relative;
                    top: 5px;
                    width: 16px;
                }
            }
        }
        .xoo-wsc-ft-amt-subtotal, .xoo-wsc-ft-amt-tax {
            span.xoo-wsc-ft-amt-label {
                font-weight: normal;
            }
        }
        .xoo-wsc-ft-amt-subtotal {
            .xoo-wsc-ft-amt-label {
                font-weight: 700 !important;
            }
        }
        .xoo-wsc-ft-amt-total {
            border-top: 0;
            margin-top: 16px;
            .xoo-wsc-ft-amt-value {
                font-weight: 700;
            }
        }
    }

    // BUTTONS
    .xoo-wsc-ft-buttons-cont {
        .xoo-wsc-ft-btn-checkout {
            @extend .Button;
        }
    }


    // QTY
    .xoo-wsc-qty-box {
        max-width: 115px;
    }
    .xoo-wsc-qty-box.xoo-wsc-qtb-square {
        border: 0;
    }
    .xoo-wsc-minus, .xoo-wsc-plus {
        background-color: $blue;
        color: white;
        border-radius: 50px;
        height: 30px;
        min-width: 30px;
        &:hover {
            @include hover-button-round;
        }
    }
    .xoo-wsc-qty {
        background-color: transparent !important;
        border: 0 !important;
        font-size: 18px !important;
        font-weight: 700;
    }
    .xoo-wsc-smr-del.xoo-wsc-icon-cross {
        height: 20px !important;
        margin-top: 0;
        width: 20px !important;
    }
 
}

.xoo-wsc-cart-active {
    .xoo-wsc-container {
        @include for-phone {
            max-width: 100% !important;
            width: 100% !important;
        }
    }
}

// SLIDER (COUPON)
.xoo-wsc-slider {
    background-color: $yellowLight;
    width: 100%;
    z-index: 1000002;
}
.xoo-wsc-sl-coupon {
    padding: 24px 0;
    .xoo-wsc-sl-heading {
        color: $blue;
        justify-content: center;
        text-align: center;
        position: relative;
    }
    .xoo-wsc-toggle-slider {
        left: 20px;
        margin: 0;
        position: absolute;
    }
    .xoo-wsc-sl-body {
        padding: 30px;
    }
    .xoo-wsc-sl-apply-coupon {
        justify-content: flex-start;
        margin: 0;
        input {
            @extend .Input;
            @extend .InputContent;
            margin: 0 0 16px;
            width: 100% !important;
        }
        button {
            @extend .Button;
            margin: 16px 0 0;
        }
    }
    .xoo-wsc-sl-applied {
        border-top: 1px solid $grey;
        margin-top: 30px;
        padding: 16px 0;
    }
}

.xoo-wsc-ftx-coupon {
    display: none;
    .xoo-wsc-remove-coupon {
        .xoo-wsc-icon-cross {
            height: 16px;
            width: 16px;
        }
    }
    .xoo-wsc-ftx-coups {
        flex-wrap: wrap;
        margin-left: 0;
        & > div {
            flex: 0 0 100%;
            margin: 0 0 16px;
            .xoo-wsc-remove-coupon {
                font-weight: 700;
            }
        }
    }

}
