.Slider {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    @include for-tablet-landscape {
        margin-top: -2px;
    }
    &::before {
        background-image: url('img/border_motif_top_home_slider.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        top: -1px;
        content: "";
        display: block;
        height: 28px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        @include for-tablet-landscape {
            display: none;
        }
    }
    &::after {
        background-image: url('img/border_motif_bottom_home_slider.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        bottom: -1px;
        content: "";
        display: block;
        height: 28px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        @include for-tablet-portrait {
            background-size: 200%;
        }
    }
    .metaslider {
        .caption-wrap {
            background-color: transparent;
            margin: 80px;
            opacity: 1;
            width: 40%;
            @include for-tablet-landscape {
                margin: 48px;
                width: 60%;
            }
            @include for-phone {
                margin: 24px;
            }
            .caption {
                background-color: $blue;
                display: inline-block;
                @include txt-titleAllCapsSecondary;
                color: white;
                padding-top: 12px;
                @include for-phone {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 6px 8px 4px;
                }
            }
        }
        .flexslider {
            margin: 0;
            //overflow: hidden;
            @include for-phone {
                margin-bottom: 0;
            }
            .flex-direction-nav {
                li {
                    a {
                        background-image: url('img/slider_nav.png');
                        height: 32px;
                    }
                }
            }
        }
        .flex-control-paging{
            li {
                a {
                    background-color: transparent;
                    border: 1px solid $blue;
                    &.flex-active {
                        background-color: $blue;
                    }
                }
            }
        }
    }
}



/// shop

.Slider {
    &--shop {
        background-image: url('img/bandeau-catalogue-armor2.png');
        @include retina-background-image {
            background-image: url('img/bandeau-catalogue-armor2@2x.png');
        }
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 32px;
        overflow: visible;
        @include for-tablet-landscape {
            margin-top: -12px;
        }
        .metaslider {
            padding: 12px 12px 24px;
            z-index: 2;
            @include for-phone {
                padding: 12px 8px 24px;
            }
            .flex-control-nav {
                bottom: -12px;
                @include for-phone {
                    bottom: -16px;
                }
            }
            .flexslider {
                &:hover {
                    .flex-direction-nav {
                        li {
                            a {
                                opacity: 1;
                            }
                        }
                    }
                }
                .slides{
                    li{
                        a{
                            cursor: pointer;
                        }
                    }
                }
                .flex-direction-nav {
                    li {
                        a {
                            background-image: url('img/slider_nav_blue.png');
                            opacity: 0.3;
                        }
                    }
                    @include for-desktop {
                        display: none;
                    }
                }
                .flex-prev {
                    cursor: pointer;
                    left: -50px !important;
                }
                .flex-next {
                    cursor: pointer;
                    right: -50px !important;
                }
            }
        }
    }
}