.Socials {
    a {
        background-color: white;
        background-image: url('img/bg_button_hover.svg');
        background-repeat: no-repeat;
        background-position: top -200px left -200px;
        background-size: 20%;
        border: 2px solid white;
        border-radius: 50px;
        height: 30px;
        display: inline-block;
        margin: 0 4px;
        width: 30px;
        &:hover {
            @include hover-button;
        }
    }
    &--blue {
        a {
            background-color: $blue;
        }
    }
    &--big {
        a {
            margin: 0 6px;
            height: 48px;
            width: 48px;
            img {
                padding: 4px;
            }
        }
    }
}