.StickyOrderWaiting {
    bottom: 0;
    margin: 16px;
    max-width: 320px;
    position: fixed;
    right: 0;
    z-index: 97;
    &-container {
        position: relative;
    }
    &-close {
        background-image: url('img/icons/icon_close_white.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px;
        background-color: $blue;
        border-radius: 50px;
        border: 0;
        box-shadow: none;
        height: 24px;
        position: absolute;
        right: 12px;
        top: -12px;
        transition: background-color 0.3s ease;
        width: 24px;
        &:hover {
            background-color: $yellow !important;
            transition: background-color 0.3s ease;
        }
    }
    &.hidden {
        opacity: 0 !important;
    }
}

///// MOBILE

@include for-phone {
    .StickyOrderWaiting {
        display: none;
    }
}