.StickyMessage {
    bottom: 0;
    height: auto;
    margin: 16px;
    position: fixed;
    right: 0;
    transition: bottom 0.3s ease;
    width: 150px;
    z-index: 97;
    a, img {
        cursor: pointer;
        display: block;
    }
    a {
        transition: all 0.2s ease;
        transform: rotate(2deg);
        &:hover {
            transform: scale(1.1) rotate(-4deg);
        }
    }
}

.StickyOrderWaiting + .StickyMessage {
    bottom: 210px;
    &.moving {
        bottom: 0;
        transition: bottom 0.3s ease;
    }
}





/// RESPONSIVE


@include for-tablet-portrait {
    .StickyMessage {
        width: 120px;
    }
}

@include for-phone {
    .StickyOrderWaiting + .StickyMessage {
        // le message de commande en attente est masqué en mobile
        bottom: 0;
    }
    .StickyMessage {
        width: 100px;
    }
}