#wpsl-wrap {
    background-color: white;
    margin-bottom: 80px;
    //search
    .wpsl-search {
        background: $blue;
        margin-bottom: 0;
        padding: 16px 0 32px 0;
        position: relative;
        //&::before {
        //    content: "";
        //    background-image: url('img/double_paquet_madeleine_nature@2x.png');
        //    background-size: 100%;
        //    display: block;
        //    height: 290px;
        //    position: absolute;
        //    right: 0;
        //    top: -100px;
        //    width: 280px;
        //}
        // input search
        #wpsl-search-wrap {
            div {
                margin-right: 0;
            }
            .wpsl-input {
                align-items: center;
                display: flex;
                margin-right: 8px;
                label {
                    color: white;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    margin-right: 8px;
                    text-transform: uppercase;
                    width: auto;
                }
                #wpsl-search-input {
                    @extend .InputContent;
                    border-radius: 0;
                    width: 320px;
                }
            }
        }
        // btn search
        .wpsl-search-btn-wrap {
            #wpsl-search-btn {
                @extend .Button;
                @extend .Button--white;
                font-size: 14px;
                padding: 8px 24px;
                text-transform: uppercase !important;
            }
        }
    }
    // google map
    #wpsl-gmap {
        margin: 16px;
    }
    // liste resultats
    #wpsl-result-list {
        position: relative;
        #wpsl-stores {
            padding: 16px;
            ul {
                li {
                    padding-bottom: 16px;                    
                    padding-top: 16px;                    
                    // resultat item magasin
                    .wpsl-store-location {
                        p {
                            font-size: 14px;
                            line-height: 18px;
                            strong {
                                display: block;
                                margin-bottom: 8px;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .wpsl-direction-wrap {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}


@include for-tablet-portrait {
    #wpsl-wrap {
        .wpsl-search {
            #wpsl-search-wrap {
                .wpsl-input {
                    #wpsl-search-input {
                        width: 220px;
                    }
                }
            } 
        } 
        #wpsl-gmap {
            margin: 0;
        }
        #wpsl-gmap, #wpsl-result-list {
            width: 100%;
        }
    }
}


@include for-phone {
    #wpsl-wrap {
        .wpsl-search {
            #wpsl-search-wrap {
                .wpsl-input {
                    flex-direction: column;
                    & > div {
                        width: 100%;
                        label {
                            margin-bottom: 8px;
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
                .wpsl-search-btn-wrap {
                    text-align: center;
                    width: 100%;
                    input {
                        float: none;
                    }
                }
            } 
        } 
    }
}