.tablepress {
    font-size: 14px;
    line-height: 18px;
    thead {
        th {
            background-color: $blue;
            color: white;
            text-align: center;
        }
    }
    tbody {
        &.row-hover {
            tr {
                &:hover {
                    td {
                        background-color: $blue;
                        color: white;
                    }
                }
            }
        }
        tr {
            &.even {
                td {
                    background-color: $blueCeleste;
                }                
            }
            &.odd {
                td {
                    background-color: $blueCelesteLight;
                }
            }
            td {
                text-align: center;
                &:first-child {
                    background-color: $blue;
                    color: white;
                    text-align: left;
                }
            }
            .column-1 {
                font-weight: 700;
            }

        }
    }
    thead, tbody {
        th, td {
            border: 2px solid white;
        }
    }
}

