.TemplateHome {
    &-section {
        padding: 50px 0;
        @include for-tablet-portrait {
            padding: 40px 0;
            text-align: center;
        }
        &--newsletter {
            padding-bottom: 0;
            padding-top: 0;
        }
        &--findUs {
            padding-bottom: 80px;
            padding-top: 80px;
        }
        &--instagram {
            padding-bottom: 80px;
            padding-top: 80px;
        }
        &--brand {
            background-color: $blue;
            text-align: center;
            padding: 0;
            position: relative;
            &::before {
                background-image: url('img/border_motif_top_home_brand.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: 100%;
                top: -26px;
                content: "";
                display: block;
                height: 28px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 1;
                @include for-tablet-portrait {
                    background-size: 200%;
                }
            }
            &::after {
                background-image: url('img/border_motif_bottom_home_brand.png');
                background-repeat: no-repeat;
                background-position: top;
                background-size: 100%;
                bottom: -26px;
                content: "";
                display: block;
                height: 28px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 1;
                @include for-tablet-portrait {
                    background-size: 200%;
                }
            }
            &-globalMask {
                overflow: hidden;
            }
            &-slidermask {
                background-color: $blue;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: 9;
                width: 50%;
                @include for-tablet-landscape {
                    width: 48%;
                }
                @include for-tablet-portrait {
                    display: none;
                }
            }
            &-content {
                padding: 50px 0;
                position: relative;
                z-index: 9;
                @include for-phone {
                    padding-bottom: 0;
                }
            }
            &-slider {
                height: 100%;
                padding: 50px 0;
                @include for-tablet-landscape {
                    margin-top: 80px;
                }
                @include for-tablet-portrait {
                    margin-top: 30px;
                }
            }
            .PageTitle {
                .page-title {
                    color: white;
                }
            }
            &-img {
                margin-bottom: 30px;
            }
            &-presentation {
                color: white;
            }
            &-sliderNav {
                margin-top: 30px;
                @include for-tablet-portrait {
                    margin-top: 15px;
                }
                &--mobile {
                    display: none;
                    @include for-tablet-portrait {
                        display: block;
                    }
                }
                &--desktop {
                    @include for-tablet-portrait {
                        display: none;
                    }
                }
                & > * {
                    margin: 0 8px;
                }
            }
        }
        &--categories {
            background-color: white;
            background-image: url('img/bg_illus_armor.jpg');
            @include retina-background-image {
                background-image: url('img/bg_illus_armor@2x.jpg');
            }
            background-size: cover;
            padding-top: 70px;
            position: relative;
            .Container {
                @include for-tablet-portrait {
                    max-width: none;
                }
            }
            .Row-slick {
                .slick-slide {
                    padding: 0 4px;
                }
            }
            &-paralax {
                right: 85%;
                position: absolute;
                z-index: 96;
                @media (max-width: 1400px) { 
                    left: -80px;
                }
                @include for-desktop {
                    display: none;
                }
                @include for-phone {
                    display: none;
                }
                .shadow {
                    position: absolute;
                    img {
                        transform: scale(1.1);
                        filter: brightness(0) blur(8px);
                        opacity: 0.25;
                    }
                }
            }
        }

    
        &--findUs {
            background-color: $yellowLight;
            &-title {
                @include txt-titleAllCapsSecondary;
            }
            &-imageContainer {
                position: relative;
            }
            &-image-map {
                bottom: -80px;
                max-width: 292px;
                position: absolute;
                right: 0;
                @include for-tablet-portrait {
                    bottom: -30px;
                }
                @include for-tablet-portrait {
                    bottom: -10px;
                    max-width: 200px;
                }
            }
            &-image {
                @include for-tablet-landscape {
                    margin-bottom: 30px;
                }
            }
            &-presentation, &-hoursContainer {
                margin-bottom: 24px;
            }
            &-presentation-2 {
                display: flex;
                @include for-tablet-portrait  {
                    flex-direction: column;
                }
                &-img {
                    img {
                        max-width: 65px;
                    }
                    @include for-tablet-portrait  {
                        margin-bottom: 24px;
                        order: 0;
                    }
                }
                &-txt {
                    @include for-tablet-portrait  {
                        order: 1;
                    }
                }
            }
            &-infosMagContainer {
                margin-bottom: 48px;
                @include for-tablet-portrait  {
                    margin-bottom: 20px;
                }
            }
            &-ctaContainer {
                max-width: 220px;
                @include for-tablet-portrait {
                    margin: auto;
                }
                a {
                    display: table;
                    margin: 5px 0;
                    width: 100%;
                }
            }
            hr {
                background-color: $grey;
                border: 0;
                height: 1px;
                margin: 40px 0;
            }
        }
        &--newsletter {
            position: relative;
            &-paralax {
                left: 85%;
                position: absolute;
                top: 200px;
                z-index: 96;
                @media (max-width: 1400px) { 
                    right: -80px;
                }
                @include for-desktop {
                    display: none;
                }
                @include for-phone {
                    display: none;
                }
                .shadow {
                    position: absolute;
                    img {
                        transform: scale(1.1);
                        filter: brightness(0) blur(8px);
                        opacity: 0.15;
                    }
                }
                &--2 {
                    .shadow {
                        opacity: 0.25;
                    }
                }
            }
        }
    }
    // fin sections
    &-seeAll {
        margin: 48px 0;
        text-align: center;
        @include for-phone {
            margin-top: 24px;
        }
        &--findUs {
            margin-top: 24px;
            text-align: left;
            width: 100%;
            @include for-tablet-portrait  {
                text-align: center;
            }
        }
    }
}