.wpmc-tabs-wrapper {
  display: none !important;
}

.TimelineCheckout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0 20px;
  position: relative;
  &::before {
    background-image: url("img/border-dashed-checkout.png");
    background-repeat: repeat-x;
    background-size: contain;
    display: block;
    height: 2px;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 22px;
    width: 90%;
    z-index: -1;
    @include for-phone {
      top: 12px;
    }
  }
  &-item {
    max-width: 100px;
    text-align: center;
    width: 20%;
    &.active {
      .TimelineCheckout-num {
        background-color: $blue;
        color: white;
      }
      .TimelineCheckout-name {
        font-weight: 700;
        opacity: 1;
        @include for-phone {
          display: block;
          font-weight: normal;
        }
      }
    }
    &.valid {
      .TimelineCheckout-num {
        background-color: $blue;
        color: white;
      }
      .TimelineCheckout-name {
        font-weight: 700;
      }
    }
  }
  #timeline-item-confirm.active {
    .TimelineCheckout-num {
      background: $blue url("img/icons/icon_check_white.png") center center
        no-repeat;
      background-size: 20px;
      color: white;
      font-size: 0;
    }
    .TimelineCheckout-name {
      font-weight: 700;
    }
  }
  &-num {
    background-color: $yellowLight;
    border: 2px solid $blue;
    border-radius: 50px;
    display: block;
    height: 45px;
    @include txt-titleAllCapsSecondary;
    font-size: 30px;
    line-height: 48px;
    margin: auto;
    width: 45px;
    @include for-phone {
      height: 25px;
      font-size: 16px;
      line-height: 24px;
      width: 25px;
    }
  }
  &-name {
    color: $blue;
    display: inline-block;
    @include txt-small;
    margin-top: 15px;
    @include for-phone {
      display: none;
      font-size: 10px;
      line-height: 14px;
      margin-top: 8px;
      opacity: 0;
    }
  }
}
