.Variations {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none !important;
    margin: 0 0 30px !important;
    padding: 0 !important;
    &-item {
        flex: 0 0 33.33333%;
        margin: 10px 0;
        opacity: 0.5;
        padding: 0 !important;
        position: relative;
        transition: opacity 0.3s ease;
        input[type=image] {
            cursor: pointer;
            display: block;
            max-width: 100%;
        }
        &-imageWrapper {
            position: relative;
        }
        &-bg {
            background-image: url('img/variation_bg.png');
            background-repeat: no-repeat;
            background-size: 100%;
            bottom: -4px;
            height: 30px;
            left: 0;
            margin: 0 auto;
            opacity: 0.8;
            position: absolute;
            right: 0;
            width: 110px;
            z-index: -1;
            &--active {
                background-image: url('img/variation_bg_active.png');
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
        &-name {
            color: $txtColor;
            display: block;
            font-size: 14px;
            font-weight: 700;
            margin-top: 10px;
            text-align: center;
        }
        &:hover {
            opacity: 1;
            transition: opacity 0.3s ease;
        }
        &.active {
            opacity: 1;
            .Variations-item-bg {
                opacity: 0;
                &--active {
                    opacity: 0.3;
                }
            }
        }
    }
    
    &-title {
        @include title-mini;
        color: $blue;
        display: block;
        margin-bottom: 10px;
    }
}