@font-face {
    font-family: 'Bourton Hand Base';
    src:url('fonts/BourtonHandBase.woff') format('woff'),
        url('fonts/BourtonHandBase.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'FabfeltScript';
    src:url('fonts/FabfeltScript-Bold.woff') format('woff'),
        url('fonts/FabfeltScript-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

