html {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    overflow-x: hidden;
  }
  
  *, *:before, *:after {
      box-sizing: border-box;
    }
  
  body {
      background-color: $yellowLight;
      color: $txtColor;
      @include txt-normal;
      min-height: 100%;
      &.body-lock {
        overflow-y: hidden;
      }
      &.woocommerce-shop, &.home,
      &.page-template-template-histoire, 
      &.page-template-template-savoir-faire,
      &.page-template-template-engagements, 
      &.page-template-template-contact, 
      &.single-product, 
      &.page-template-template-nous-trouver,
      &.page-template-template-recettes,
      &.single-postrecette {
        @include background-toile;
      }
      &.page-template-template-histoire {
        #Root {
          background-image: url('img/map_breizh.png');
          background-position: 100% calc(50% - 200px);
          background-repeat: no-repeat;
          background-size: 80%;
          @include for-desktop {
            background-position: 100% calc(50% - 450px);
          }
          @include for-tablet-landscape {
            background-image: none;
          }
        }    
      }
  }

  #Root {
    position: relative;
  }
  
  abbr[title] {
    border-bottom: 0;
  }
  
  strong {
    color: $blue;
  }

  a {
      color: $blue;
      font-weight: 700;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
      &.edit {
        color: $blue;
        font-size: 14px;
        line-height: 18px;
        text-decoration: underline;
      }
   }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $blue;
  }
  
  
  h1 {
  }
  
  h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
  }

  h3 {
    @include txt-titleAllCapsSecondary;
  }

  h4 {
    color: $blue;
    font-family: $fontPrimary;
    font-size: 18px;
    line-height: 22px;
  }
    
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
    
  input {
    border: 0;
    &:focus {
      border: 0;
    }
  }

  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  
  button, input[type="submit"] {
      cursor: pointer;
  }
  
  .fixed-position {
    position: fixed;
  }
  
  body {
    width: 100%;
  }

  address {
    font-style: normal;
  }

  img {
    height: auto;
    max-width: 100%;
  }
