// MEDIA QUERIES
@mixin for-small-phone {
    @media (max-width: 379.98px) { 
        @content; 
    }
}

@mixin for-phone {
    @media (max-width: 575.98px) { 
        @content; 
    }
}

@mixin for-tablet-portrait {
    @media (max-width: 767.98px) { 
        @content; 
    }
}

@mixin for-tablet-landscape {
    @media (max-width: 991.98px) { 
        @content; 
    }
}

@mixin for-desktop {
    @media (max-width: 1199.98px) { 
        @content; 
    }
}

// COLUMN
@mixin column($size) {
    flex: 0 0 $size;
    max-width: $size;
}

// RETINA
@mixin retina-background-image {
    @media #{$retina} {
        @content; 
    }
}


@mixin hover-button {
    border-color: $yellow;
    background-color: $yellow;
    background-size: 200%;
    background-position: center;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
} 

@mixin hover-button-round {
    background-color: $yellow;
    transition: background-color 0.3s ease;
}
    
@mixin bg-img-product-circular($hover : false) {
    &::after {
        content: "";
        background-image: url('img/produit_background.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(1);
        transition: transform 0.3s ease;
        width: 100%;
        z-index: -1;
    }
    @if ($hover) {
        &:hover {
            &::after {
                transform: scale(0.8);
                transition: transform 0.3s ease;
            }
        }
    }
}

// CLEAR AFTER

@mixin clear-after {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

// BACKGROUND TOILE
@mixin background-toile {
    background-image: url('img/bg-toile.jpg');
    background-repeat: repeat;
}


// BACKGROUND BRUSH
@mixin background-brush($version: 1) {
    @if $version == 1 {
        background-image: url('img/brush_title.png');
        padding: 0 0.5em 0 1.2em;
    } @else if $version == 2 {
        background-image: url('img/brush_title2.png');
        padding: 0 1em 0 0.5em;
    }
    background-size: 100% 100%;
    background-repeat: repeat-y;
    image-rendering: -webkit-optimize-contrast;
    display: inline-block;
    position: relative;
    z-index: 1;
}

// PROMO {
@mixin on-sale {
    background-color: $yellow;
    color: $blue;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
    padding: 5px 4px;
    text-transform: uppercase;
}



// ACTIV MENU

@mixin activ-menu($color : 'yellow') {
    &::after {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 4px;
        content: "";
        height: 4px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        @if $color == 'green' {
            background-image: url('img/activ_menu_sticky_green.png');
        } @else if $color == 'yellow' {
            background-image: url('img/activ_menu_sticky.png');
        } @else {
            background-image: url('img/activ_menu_sticky.png');
        }
    }
}

@mixin activ-menu-brush {
    &::before {
        content: "";
        background-image: url('img/brush_title.png');
        background-size: 100% 100%;
        background-repeat: repeat-y;
        image-rendering: -webkit-optimize-contrast;
        display: inline-block;
        left: -9px;
        height: 100%;
        position: absolute;
        top: -2px;
        width: 120%;
        z-index: -1;
    }
}


// TYPO

@mixin txt-mini {
    font-family: $fontPrimary;
    font-size: 12px;
    line-height: 16px;
}

@mixin txt-small {
    font-family: $fontPrimary;
    font-size: 14px;
    line-height: 18px;
}

@mixin txt-normal {
    font-family: $fontPrimary;
    font-size: 16px;
    line-height: 22px;
}

@mixin txt-productName {
    color: $blue;
    font-family: $fontPrimary;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

@mixin txt-productWeight {
    color: $blue;
    font-family: $fontPrimary;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}

@mixin txt-productPriceSmall {
    color: black;
    font-family: $fontPrimary;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

@mixin txt-productPriceBig {
    color: $blue;
    font-family: $fontPrimary;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

@mixin txt-titleAllCapsSecondary {
    color: $blue;
    font-family: $fontSecondary;
    font-size: 24px;  
    font-weight: normal;
    line-height: 28px;
}

@mixin title-handwrite {
    color: $blue;
    font-family: $fontHandWriting;
    font-size: 40px;
    line-height: 48px;
    @include for-phone {
        font-size: 30px;
        line-height: 38px;
    }
}

@mixin title-primary {
    font-family: $fontPrimary;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

@mixin title-small {
    font-family: $fontPrimary;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
@mixin title-xsmall {
    color: $txtColor;
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

@mixin title-mini {
    color: $txtColor;
    font-family: $fontPrimary;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

@mixin title-xmini {
    color: $txtColor;
    font-family: $fontPrimary;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: underline;
    opacity: 0.6;
}

