//FONTS
$fontPrimary : 'ashemore',sans-serif;
$fontSecondary : 'Bourton Hand Base',sans-serif;
$fontHandWriting : 'FabfeltScript',sans-serif;

//COLORS 
$blue: #0d5aa2;
$blueLight: #0963b6;
$blueCeleste: #c0d3e0;
$blueCelesteLight: #ebf0ef;
$yellow: #eab80f;
$yellowLight: #fcfbf5;
$grey: #dddddd;
$greyDark: #cccccc;
$green: #6dc499;
$greenDark: #47a175;
$red: #e7405c;
$redLight: #ffe8e9;
$txtColor: #3b3b3b;


$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2),
 only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";