.RecetteInfo {
    padding: 24px;
    text-align: center;
    &-img {
        background-color: $greyDark;
        border-radius: 50px;
        margin: 0 auto 16px;
        height: 60px;
        width: 60px;
    }
    &-txt {
        color: $blue;
        font-weight: 700;
    }
}