.RecettesList {
    &-hashtag {
        margin: 40px 0 20px; 
    }
    &-item {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    &-pagination {
        margin: 30px 0 0;
    }
    &--single {
        margin-top: 120px;
    }
}

@include for-phone {
    .RecettesList {
        &--single {
            margin-top: 50px;
        }
    }
}