.RecetteDetails {
    margin-bottom: 40px;
    position: relative;
    // video
    &-videoWrapper {
        border: 10px solid white;
        box-shadow: 1px 5px 31.36px 0.64px rgba(0, 0, 0, 0.13);
        left: 20px;
        position: absolute;
        transform: rotate(1deg);
        top: -4px;
        z-index: 9;
        .wp-video {
            max-width: 340px;
        }
    }
    &-paperclip {
        height: auto;
        right: -20px;
        max-width: 28px;
        position: absolute;
        top: -32px;
        z-index: 9;
    }
    // image
    &-imageWrapper {
        border: 10px solid white;
        box-shadow: 1px 5px 31.36px 0.64px rgba(0, 0, 0, 0.13);
        left: 20px;
        max-width: 390px;
        position: absolute;
        transform: rotate(1deg);
        top: -4px;
        z-index: 9;
        &-img {
            img {
                display: block;
            }
        }
    }
    
    // contenu
    &-contentWrapper {
        background-image: url('img/lined_paper.png');
        background-repeat: repeat;
        box-shadow: 1px 5px 31.36px 0.64px rgba(0, 0, 0, 0.13);
        margin-left: 360px;
        max-width: 580px;
        padding: 40px 72px;
        position: relative;
        text-align: center;
    }
    &-imageCircle {
        background-color: white;
        border: 8px solid white;
        border-radius: 200px;
        box-shadow: 1px 7px 15.68px 0.32px rgba(0, 0, 0, 0.20); 
        height: 148px;
        overflow: hidden;
        position: absolute;
        right: -12px;
        top: -12px;
        width: 148px;
    }
    &-illusHeader {
        height: auto;
        max-width: 94px;
    }
    &-title {
        color: $blue;
        font-family: $fontHandWriting;
        font-size: 30px;
        display: block;
        line-height: 34px;
        margin-bottom: 40px;
    }
    &-name {
        @include txt-titleAllCapsSecondary;
        margin: 40px auto;
        max-width: 290px;
    }
    // etapes
    &-etape {
        align-items: flex-start;
        display: flex;
        margin: 16px auto;
        max-width: 450px;
        text-align: left;
        &-txt, &-num {
            margin: 10px;
        }
        &-num {
            align-items: center;
            background-color: rgba($color: $yellow, $alpha: 0.3);
            border-radius: 100px;
            color: $blue;
            display: flex;
            flex: 0 0 56px;
            font-family: $fontSecondary;
            font-size: 30px;
            height: 56px;
            justify-content: center;
            &-value {
                margin-top: 4px;
            }
        }
        &-txt {
            p {
                font-family: $fontHandWriting;
                font-size: 22px;
                line-height: 24px;
                strong {
                    color: $blue;
                }
            }
        }
    }
    // infos recette
    &-infosComplementaires {
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin: 40px 0;
    }
    &-signature {
        color: $blue;
        font-family: $fontHandWriting;
        font-size: 24px;
        line-height: 28px;
    }
}


// pas de video ou photo

.RecetteDetails {
    &--noMedias {
        .RecetteDetails-contentWrapper {
            margin: auto;
        }
    }
}


@include for-tablet-landscape {

    .RecetteDetails {
        &-videoWrapper {
            .wp-video {
                max-width: 240px;
            }
        }
        &-imageWrapper {
            max-width: 240px;
        }
        &-contentWrapper {
            margin-left: 240px;
            padding-left: 56px;
            padding-right: 56px;
        }
        &-imageCircle {
            height: 104px;
            width: 104px;
        }
        &-etape {
            &-num {
                height: 32px;
                flex: 0 0 32px;
                &-value {
                    font-size: 20px;
                }
            }
        }
    }

}


@include for-tablet-portrait {

    .RecetteDetails {
        text-align: center;
        margin-bottom: 0;
        &-videoWrapper {
            display: inline-block;
            left: 0;
            margin-top: -80px;
            position: relative;
            top: 0;            
        }
        &-imageWrapper {
            display: inline-block;
            left: 0;
            margin-top: -80px;
            max-width: 360px;
            position: relative;
            top: 0;            
        }
        &-paperclip {
            display: none;
        }
        &-contentWrapper {
            margin-left: 0;
            max-width: 100%;
        }
    }

    .RecetteDetails {
        &--noMedias {
            margin-bottom: 0;
        }
    }

}


@include for-phone {

    .RecetteDetails {
        &-contentWrapper {
            margin-top: 72px;
            padding: 24px;
        }
        &-illusHeader {
            display: none;
        }
        &-imageCircle {
            height: 140px;
            left: 0;
            margin: -72px auto 20px;
            position: relative;
            top: 0;
            width: 140px;
        }
    }

}