.RecetteItem {
    &-contentWrapper {
        cursor: pointer;
        display: block;
        text-decoration: none;
        &:hover {
            .RecetteItem-image {
                transform: scale(1.1);
                transition: transform 0.3s ease;
            }
        }
    }
    &-image {
        border-radius: 200px;
        margin: 0 auto 24px;
        max-width: 240px;
        overflow: hidden;        
        transition: transform 0.3s ease;
    }
    &-infos {
        text-align: center;
    }
    &-title {
        @include txt-productName;
        margin: 12px 0;
        text-decoration: none;
    }
    &-resume {
        color: $txtColor;        
        font-weight: normal;
    }
}