.TemplateOuTrouver {
    padding-bottom: 0 !important;
    //section intro
    &-sectionIntro {
        &-content {
            h2 {
                margin-top: 0;
            }
        }
    }
    // section carte
    &-sectionCarte {
        margin-top: 30px;
        &-titre {
            h2 {          
                @include txt-titleAllCapsSecondary;
                display: inline-block;      
                margin: 0 12px 40px;
                text-align: center;
            }
            &-loupe, &-ligne {
                height: auto;
                max-width: 90px;
            }
            &-loupe {
                position: relative;
                top: 10px;
            }
        }
        &-carte {
            background-color: $blue;
            padding: 30px 0;
            position: relative;
            &::before {
                background-image: url('img/border_motif_top_home_brand.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: 100%;
                top: -26px;
                content: "";
                display: block;
                height: 28px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 1;
                @include for-tablet-portrait {
                    background-size: 200%;
                }
            }
            &-sachets {
                height: auto;
                max-width: 280px;
                position: absolute;
                right: 50px;
                top: -112px;
                z-index: 9;
            }
        }
    }
    // retour accueil 
    &-backtohome {
        margin: 50px 0;
        text-align: center;
    }
}

@include for-tablet-landscape {
    .TemplateOuTrouver {
        &-sectionIntro {
            margin-bottom: 40px;
        }
        &-sectionCarte {
            &-carte {
                &-sachets {
                    display: none;
                }
            }
        }
    }
}

@include for-tablet-portrait {
    .TemplateOuTrouver {
        &-sectionIntro {
            &-content {
                h2 {
                    margin-top: 40px;
                }
            }
        }
        &-sectionCarte {
            &-titre {
                text-align: center;
            }
        }
    }
}

@include for-phone {
    .TemplateOuTrouver {
        &-sectionCarte {
            &-titre {
                &-ligne {
                    display: none;
                }
                h2 {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}