.ContactSelect {
    &-item {
        border: 1px solid $blue;
        color: $blue;
        padding: 40px;
        text-align: center;
    }
    &-title {
        color: $blue;
        margin-bottom: 32px;
    }
    &-faqContainer {
        margin-bottom: 24px;
        text-align: center;
    }
    &-faq {
        color: $blue;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: underline;
    }
}