.TemplateContact {
    &-seeFaq {
        @include title-small;
        margin-bottom: 50px;
        text-align: center;
    }
    &-bloc {
        height: 100%;
        @include for-phone {
            padding: 10px 0;
        }
        &-container {
            align-items: center;
            background-color: $blue;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 15px;
            text-align: center;
        }
        &-img, &-title, &-cta {
            padding: 15px 0;
        }
        &-img {
            img {
                max-width: 150px;
            }
        }
        &-title {
            h2 {
                @include title-small;
                color: white;
                @include for-phone {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}