.TemplateSavoirFaire {
    padding-bottom: 0 !important;
    &-section1, &-section2 {
        padding: 60px 0;
        position: relative;
        @include for-tablet-portrait {
            text-align: center;
        }
    }
    &-section2 {
        text-align: right;
        &::before {
            background-image: url('img/border_motif_top.png');
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100%;
            top: 0;
            content: "";
            display: block;
            height: 28px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 1;
            @include for-tablet-portrait {
                background-size: 200%;
            }
        }
        @include for-tablet-portrait {
            text-align: center;
            &-bloc--1 {
                .Col {
                    &:first-child {
                        order: 2;
                    }
                    &:last-child {
                        order: 1;
                    }
                }
            }
        }
    }
    &-content {
        h2 {
            @include txt-titleAllCapsSecondary;
        }
    }

    /// specifique section 1
    &-section1 {
        padding-top: 0;
        .TemplateSavoirFaire-content {
            h2 {
                margin-bottom: 0;
                & + p {
                    margin-top: 0;
                }
            }
            img {
                margin-top: 10px;
            }
        }
    }

    /// specifique section 2
    &-section2 {
        .Container {
            margin-bottom: -50px;
            margin-top: -50px;
        }
        &-bloc {
            margin-bottom: 50px;
            margin-top: 50px;
        }
        .TemplateSavoirFaire-content {
            color: white;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            h2 {
                color: white;
            }
            strong {
                color: white;
            }
            &-img {
                text-align: center;
                margin-top: 50px;
                @include for-tablet-landscape {
                    margin-top: 30px;
                }
                img {
                    max-width: 100%;
                    width: 330px;
                }
            }
        }
    }

    &-backtohome {
        padding: 80px;
        text-align: center;
        @include for-tablet-portrait {
            padding: 30px 0;
        }
    }

}