.TemplateEngagements {
    h2 {
        @include txt-titleAllCapsSecondary;
    }
    &-section2 {
        color: white;
        padding: 60px 0;
        position: relative;
        h2 {
            color: white;
            margin-bottom: 20px;
        }
        &::before {
            background-image: url('img/border_motif_top.png');
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100%;
            top: 0;
            content: "";
            display: block;
            height: 28px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 1;
            @include for-tablet-portrait {
                background-size: 200%;
            }
        }
        &::after {
            background-image: url('img/border_motif_bottom_engagements.png');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100%;
            bottom: 0;
            content: "";
            display: block;
            height: 28px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 1;
            @include for-tablet-portrait {
                background-size: 200%;
            }
        }
        &-image {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
        }
    }
    &-section1, &-section3 {
        @include for-tablet-portrait {
            .Row {
                .Col {
                    &:first-child {
                        order: 2;
                    }
                    &:last-child {
                        order: 1;
                    }
                }
            }
        }
    }
    &-section3 {
        .TemplateEngagements-territoire-1, .TemplateEngagements-territoire-2, .TemplateEngagements-territoire-3 {
            margin-bottom: 30px;
        }
        .TemplateEngagements-territoire-1 {
            margin-top: 0;
        }
        .TemplateEngagements-territoire-title {
            @include txt-titleAllCapsSecondary;
        }
        .TemplateEngagements-territoire-2 {
            h2 {
                margin-bottom: 20px;
            }
        }
        .TemplateEngagements-stats {
            img {
                margin-bottom: 10px;
                max-width: 100%;
                width: 320px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-section {
        &1, &2, &3 {
            padding: 60px 0;
            @include for-tablet-portrait {
                padding: 30px 0;
            }
        }
        &1 {
            padding-top: 0;
        }
    }

    &-content {
        &--section1 {
            text-align: right;
            h2 {
                margin: 0;
                & + p {
                    margin-top: 0;
                }
            }
            img {
                margin-top: 60px;
                @include for-tablet-landscape {
                    margin-top: 30px;
                }
            }
        }
        &--section2 {
            &--rse {
                img {
                    max-width: 120px;
                }
            }
        }
        &--section3 {
            text-align: right;
            h2 {
                margin: 0;
                & + p {
                    margin-top: 0;
                }
            }
            strong {
                color: black;
            }
        }
        @include for-tablet-portrait {
            margin-top: 30px;
            text-align: center;            
        }
    }
    &-backtohome {
        text-align: center;
    }
}