.woocommerce-account {
    .woocommerce {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
    } 
    .woocommerce-MyAccount-navigation {
        width: 30%;
        @include for-tablet-landscape {
            width: 40%;
        }
        @include for-tablet-portrait {
            margin-bottom: 30px;
            text-align: center;
            width: 100%;
        }
    }
    .woocommerce-MyAccount-content {
        width: 70%;
        @include for-tablet-landscape {
            width: 60%;
        }
        @include for-tablet-portrait {
            width: 100%;
        }
        h3 {
            @include title-xsmall;
            margin-bottom: 15px;
        }
    }


    // NAVIGATION LATERALE
    .woocommerce-MyAccount-navigation {
        ul {
            & > * {
                margin: 12px 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .woocommerce-MyAccount-navigation-link {
            &.is-active {
                a {
                    opacity: 1;
                    text-decoration: underline;
                }
              }
            a {
                @include txt-titleAllCapsSecondary;
                text-decoration: none;
                @include for-tablet-portrait {
                    font-size: 16px;
                    opacity: 0.5;
                }
                &:hover {
                    color: $txtColor;
                }
                
            }
        }
    }

    .woocommerce-MyAccount-content {
        mark {
            background-color: transparent;
            color: $txtColor;
        }
    }

    // EDIT ACCOUNT 

    .woocommerce-MyAccount-hello {
        margin-bottom: 20px;
        &-firstname, &-lastname {
            font-weight: 700;
        }
    }


    // HISTORIQUE DES COMMANDES

    .woocommerce-orders-table {
        @include txt-small;
        margin-bottom: 30px;
        width: 100%;
        th, td {
            padding: 30px 8px;
            @include for-phone {
                padding: 0;
            }
        }
        thead {
            text-align: left;
            @include for-phone {
                display: none;
            } 
            .woocommerce-orders-table__header {
                &-order-total {
                    text-align: right;
                }
            }
        }
        .woocommerce-orders-table__row {
            border-bottom: 2px solid $grey;
            @include for-phone {
                display: block;
                padding: 15px 0;
                position: relative;
            }
            td {
                @include for-phone {
                    display: block;
                    padding: 0;
                    width: 80%;
                }
            }
            .woocommerce-orders-table__cell {
                &-order-date, &-order-total, &-order-status {
                    @include for-phone {
                        &::before {
                            content: "";
                            font-weight: 700;
                            @include txt-small;
                            text-transform: uppercase;
                        }
                    }
                }
                &-order-date {
                    @include for-phone {
                        &::before {
                            content: "Date : ";
                        }
                    }
                }
                &-order-number {
                    a {
                        font-weight: normal;
                        text-decoration: none;
                    }
                }
                &-order-total {
                    font-size: 0;
                    text-align: right;
                    del, span {
                        @include txt-small;
                    }
                    @include for-phone {
                        text-align: left;
                        &::before {
                            content: "Montant : ";
                        }
                    }
                }
                &-order-status {
                    @include for-phone {
                        &::before {
                            content: "Status : ";
                        }
                    }
                }
                &-order-actions {
                    text-align: right;
                    @include for-phone {
                        position: absolute;
                        right: 0;
                        top: 15px;
                        width: 20%;
                    }
                    a {
                        background-color: transparent;
                        background: none;
                        border: 0;
                        color: $blue;
                        margin: 0 4px;
                        padding: 0;
                        text-decoration: underline;
                        text-transform: none;
                        @include for-phone {
                            display: block;
                            text-align: right;
                        }
                        &:hover {
                            color: $txtColor;
                        }
                    }
                }
            }
        }
    }
    .mv-woocommerce-orders-message {
        @include txt-small;
        margin: 20px 0;
    }


    // DETAIL D'UNE COMMANDE

    .woocommerce-order-details, .woocommerce-customer-details {
        padding: 30px 0;
        .woocommerce-order-details__title , .woocommerce-column__title {
            @include txt-normal;
            color: $txtColor;
            font-weight: 700;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
    }

    .woocommerce-order-details {
        border-bottom: 1px solid $grey;
        border-top: 1px solid $grey;
        margin-top: 30px;
        table {
            text-align: left;
            width: 100%;
            tbody, tfoot {
                tr {
                    @include for-phone {
                        display: block;
                        margin-bottom: 15px;
                    }
                }
            }
            td, th {
                padding: 10px 0;
                @include for-phone {
                    display: block;
                    padding: 4px 0;
                    width: 100%;
                }
                &.woocommerce-table__product-table {
                    @include for-phone {
                        display: none;
                    }
                }
                &.woocommerce-table__product-name {
                    a, .product-quantity {
                        font-weight: normal;
                    }                    
                }
            }
            thead {
                tr {
                    .woocommerce-table__product-table {
                        text-align: right;
                    }
                }
            }
            tbody {
                tr {
                    &:last-child {
                        th, td {
                            padding-bottom: 30px;
                        }
                    }
                }
                .woocommerce-table__product-total {
                    text-align: right;
                }
            }
            tfoot {
                tr {
                    &:first-child {
                        th, td {
                            border-top: 1px solid $grey;
                            padding-top: 30px;
                        }
                    }
                    td {
                        text-align: right;
                        .mv_shipping_vat, .includes_tax {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .woocommerce-customer-details {
        .woocommerce-columns--2{
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
           .woocommerce-column{               
                flex: 0 0 50%;
                padding: 15px;     
                @include for-tablet-landscape {
                    flex: 0 0 100%;
                }
           }
        }
        address {
            @include txt-small;
            font-style: normal;
        }
    }

    // retrait commande
    .wclp_mail_address {
        background: transparent;
        .wclp_location_box {
            border: 1px solid $blue !important;
        }
        .wclp_location_box_heading {
            background-color: transparent;
            border-bottom: 1px solid $blue !important;
            text-align: center;
        }
        .wclp_pickup_adress_p, .wclp_location_box_content {
            @include txt-small;
        }
    }




    // ADRESSES 

    .woocommerce-Addresses, .address_book {
        h3, .myaccount_address {
            margin-bottom: 15px;
        }
        .woocommerce-Address, .wc-address-book-address {
            margin: 30px 0;
            .woocommerce-Address-title{
                .edit{
                    @extend .Button;
                    margin-bottom: 20px;
                }
            }
            address {
                @include txt-small;
                font-style: normal;
            }
            .wc-address-book-meta {
                @include for-phone {
                    float: none;
                    margin-bottom: 4px;
                    width: 100%
                }
                a {
                    @include txt-small;
                    margin: 4px 0;
                }
            }
        }

        & + hr {
                background-color: $grey;
                border: 0;
                height: 1px;
                margin: 30px 0;
        }
    }

    // EDIT ADRESSE 

    .woocommerce-address-fields {
        &__field-wrapper {
            margin: 30px 0;
        }
        #shipping_address_nickname-description {
            display: none !important;
        }
    }
}