.woocommerce-cart-form__contents {

    // HEAD
    thead {
        th {
            text-align: left;
            text-transform: uppercase;
            &.product-price {
                &::after {
                    content: " unitaire";
                }
            }
        }
    }

    // ESPACEMENT
    thead tr {
        & > * {
            padding: 0;
        }
    }
    .woocommerce-cart-form__cart-item {
        & > * {
            padding: 30px 12px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }

    // PRODUCT LINE
    .woocommerce-cart-form__cart-item {
        //border-bottom: 1px solid $grey;
        .product-thumbnail {
            width: 12%;
            a {
                img {
                    height: auto;
                }
            }
        }
        .product-name {
            @include txt-productName;
            width: 30%;
            a {
                text-decoration: none;
            }
            .weight {
                @include txt-productWeight;
            }
        }
        .product-quantity {
            width: 21%;
        }
        .product-price, .product-subtotal {
            width: 16%;
            .woocommerce-Price-amount {
                @include txt-productPriceBig;
            }
            .tax_label {
                display: none;
            }
        }
        .product-price {
            del {
                display: block;
                .woocommerce-Price-amount.amount {
                    color: $txtColor;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                }
            }
            ins {
                text-decoration: none;
            }
        }
        .product-remove {
            a {
                background-image: url('img/icons/icon-trash-blue.png');
                background-size: 100%;
                background-repeat: no-repeat;
                display: inline-block;
                font-size: 0;
                height: 28px;
                position: relative;
                transition: opacity 0.3s ease;
                width: 20px;
                &::after {
                    background-image: url('img/icons/icon-trash-black.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    content: "";
                    display: inline-block;
                    height: 28px;
                    position: absolute;
                    opacity: 0;
                    width: 20px;
                    z-index: 1;
                    transition: opacity 0.3s ease;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    //actions 
    .actions {
        & > button, .coupon {
            margin: 50px 0;
        }
        button {
            @extend .Button;
            @extend .Button--secondary;
            @extend .Button--medium;
        }
        & > button {
            float: right;
        }
        .coupon {
            display: inline-block;
            width: 50%;
            position: relative;
            input {
                background-color: transparent;
                border: 1px solid $blue;
                height: 44px;
                padding: 12px 16px;
                width: 200px;
                &::placeholder {
                    color: $blue;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            label {
                display: none !important;
            }
        }
    }
}



///// SHOP TABLE RESPONSIVE

@include for-tablet-landscape {
    .woocommerce-cart-form__contents {
        .actions {
            .coupon {
                width: 100%;
            }
            & > button, .coupon {
                margin: 10px 0;
            }
            & > button {
                margin-bottom: 50px;
            }
        }
    }
}



@include for-tablet-portrait {
    .woocommerce-cart-form__contents {
        word-break: break-all;
        table-layout: fixed;
        thead {
            display: none;
        }
        tr {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 24px;
        }
        .woocommerce-cart-form__cart-item {
            display: block;
            padding: 0 40px 24px 150px;                        
            position: relative;
            width: 100%;
            @include for-phone {
                padding-left: 90px;
            }
            td {
                display: inline-block;
            }
            .product-thumbnail {
                left: 0;
                padding: 0 10px 0 0;
                position: absolute;
                top: 0;
                width: 150px;
                @include for-phone {
                    width: 90px;
                }
            }
            .product-name, .product-quantity, .product-price, .product-subtotal {
                display: block;
                width: 100%;
            }
            .product-name {         
                font-size: 15px;       
                line-height: 19px;
                padding: 10px 0;
            }
            .product-quantity {
                padding: 10px 0;
            }
            .product-price, .product-subtotal {
                padding: 4px 0;
                .woocommerce-Price-amount {
                    font-size: 14px;
                    line-height: 18px;
                    &::before {
                        color: $txtColor;
                        content: "Prix unitaire";
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
            }
            //.product-subtotal {
            //    .woocommerce-Price-amount {
            //        &::before {
            //            content: "Total TTC";
            //        }
            //    }
            //}
            .product-remove {
                padding: 8px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        // actions
        .actions {
            & > button, .coupon {
                margin: 0;
            }
            & > button {
                float: left;
            }
            .coupon {
                margin-bottom: 40px;
            }
            .coupon {
                width: 100%
            }
        }
    }
}

@include for-phone {
    .woocommerce-cart-form__contents {
        .actions {
            .coupon {
                margin-bottom: 20px;
                text-align: right;
                label {
                    top: 12px;
                    transform: none;
                }
                input {
                    margin-bottom: 8px;
                    width: 100%
                }
            }
        }
    }
}


///// SHIPPING
.cart-collaterals {
    .mv_cart_shipping {
        .mv-shipping-title {
            @include txt-normal;
            font-weight: 700;
            margin-bottom: 16px;
            text-transform: uppercase;
        }
        .mv_shipping_infos {
            margin: 10px 0 50px;
            @include for-tablet-portrait {
                margin-bottom: 30px;
            }
            &--guest {
                margin-bottom: 20px;
            }
        }
        .mv_shipping_message_pro {
            @include txt-small;
            margin-top: 0;
          }
    }
    .wc-proceed-to-checkout {
        display: flex;
        justify-content: space-between;
        @include for-phone {
            align-items: center;
            flex-direction: column;
            .mv-cart-back,.mv-cart-procceed {
                margin: 4px 0;
            }
            .mv-cart-back {
                order: 2;
            }
            .mv-cart-proceed {
                order: 1;
            }
        }
    }
}

.mv_shipping_infos {
    color: $blue;
    @include txt-small;
    text-align: left;
}

.woocommerce-shipping-methods-title {
    @include title-xsmall;
    margin-bottom: 10px;
}

#shipping_method {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -8px;
    & > li {
        color: $txtColor;
        display: flex;
        flex-direction: column;
        flex: 0 0 33.333%;
        padding: 8px;
        position: relative;
        @include for-tablet-portrait {
            flex: 0 0 100%;
        }
        input {
            &:checked {
                & ~ .ShippingItem {
                    background-color: $blueCelesteLight;
                    border-color: $blue;
                    outline-color: $blue;
                }
            }
        }
        /// point relais colissimo
        #lpc_pick_up_info {
            order: 2;
        }
        & > div {
            position: absolute;
            text-align: center;
            top: 30px;
            width: calc(100% - 20px);
            #lpc_pick_up_widget_show_map {
                @extend .Button;
                @extend .Button--small;
                z-index: 9;
            }
            & + .ShippingItem {
                .ShippingItem-img {
                    opacity: 0;
                }
            }
        }
    }
    input {
        &.shipping_method {
            display: none;
        }
    }
    label {
        display: none;
    }
}


.mv_cart_shipping, .mv_cart_totals, .wc-proceed-to-checkout {
    border-top: 1px solid $grey;
    padding: 50px 0;
    @include for-tablet-portrait {
        padding: 25px 0;
    }
}


///// TOTALS
.mv_cart_totals {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .mv_cart_shipping_presentation {
        flex: 0 0 50%;
        padding-right: 30px;
        @include for-tablet-landscape {
            border-bottom: 1px solid $grey;
            padding-bottom: 50px;
            flex: 0 0 100%;
            padding-right: 0;
        }
        @include for-tablet-portrait {
            padding-bottom: 25px;
        }
        h3 {
            & + p {
                color: $blue;
                @include txt-small;
                margin-bottom: 30px;
            }
        }
        &_container {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -20px;
            @include for-tablet-portrait {
                flex-direction: column;
            }
        }
        &_item {
            padding: 20px;
            img {
                height: auto;
                max-width: 180px;
            }
        }
    }
    .shop_table {
        margin-left: auto;
        text-align: left;
        text-transform: uppercase;
        width: 30%;
        @include for-tablet-landscape {
            margin-top: 50px;
            width: 50%;
        }
        @include for-tablet-portrait {
            margin-top: 25px;
            width: 100%;
        }
        tr {
            th, td {
                vertical-align: top;
            }
            &.mv_shipping_totals {
                th {
                    font-weight: normal;
                }
            }
            &.cart-subtotal {
                th {
                    font-weight: bold;
                }
            }
            &.order-total {
                display: none;
                strong {
                    font-size: 30px;
                    display: block;
                }
            }
        }
        td {
            text-align: right;
        }
    }
    &--2col {
        border-bottom: 1px solid $grey;        
        justify-content: space-between;
        margin: 30px 0;
        .shop_table {
            tr {
                &.order-total {
                    strong {
                        font-size: 16px;
                        display: inline-block;
                    }
                }
            }
        }
        @include for-tablet-portrait {
            flex-direction: column;
            .shop_table {
                @include txt-small;
            }
        }
        .mv_cart_totals-titleCol {
            font-weight: 700;
            text-transform: uppercase;
            @include for-tablet-portrait {
                margin-bottom: 20px;
            }
        }
    }
}


//// NAV FOOTER 

.wpmc-nav-wrapper {
    justify-content: flex-start;
    button#wpmc-back-to-cart, .wpmc-no-back-to-cart #wpmc-prev, #wpmc-prev {
        @extend .Button--secondary;
        margin-right: 0;
    }
    #wpmc-next {
        margin-left: auto;
    }
    button#wpmc-skip-login {
        display: none !important;
    }
    // phone
    @include for-phone {
        flex-direction: column;
        button {
            margin: 10px 0;
            width: 100%;
        }
        #wpmc-back-to-cart {
            order: 2;
        }
        #wpmc-next {
            order: 1;
        }
    }

    
}

.PageContent {
    .wpmc-nav-wrapper {
        button#wpmc-skip-login {
            display: none !important;
        }
    }
}
