/// LOGIN & CREATE ACCOUNT
.woocommerce .wpmc-steps-wrapper {
    .woocommerce-form-login {
      display: flex;
      flex-wrap: wrap;
      margin: 50px -70px 0;
      .mv-woocommerce-form-login-container, .wpmc-mv-createAccount {
        flex: 0 0 50%;
        padding: 0 70px;
      }
      .wpmc-mv-rgpd {
        flex: 0 0 100%;
        padding: 40px 70px 0;
      }
    }
    .mv-woocommerce-form-login-container {
      border-right: 1px solid $grey;
      position: relative;
      &::after {
        background-color: $yellowLight;
        content: "Ou";
        color: $grey;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        right: -12px;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
      }
      .mv-woocommerce-form-login-title {
        & + p {
          display: none;
        }
      }
    }
}
  
.wpmc-steps-wrapper {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/// RESPONSIVE LOGIN & CREATE ACCOUNT
@include for-tablet-portrait {
  .woocommerce .wpmc-steps-wrapper {
    .woocommerce-form-login {
      margin: 50px 0 0;
      .mv-woocommerce-form-login-container, .wpmc-mv-createAccount, .wpmc-mv-rgpd {
            flex: 0 0 100%;
            padding: 30px 0;
            width: 100%;
        }
      }
      .mv-woocommerce-form-login-container {
          border-bottom: 1px solid $grey;
          border-right: 0;
          &::after {
              bottom: -12px;
              left: 50%;
              margin: auto;
              right: auto;
              text-align: center;
              top: auto;
              transform: translateX(-50%);
              width: 40px;
          }
      }
  }
}


/// PAIEMENT
.wpmc-step-payment {
  border-top: 1px solid $grey;
  padding-top: 30px;
  #order_review_heading {
    @include title-xsmall;
    margin-bottom: 20px;
  }
  #payment_heading {
    @include title-xsmall;
    margin-bottom: 10px;
    padding-top: 30px;
  }
}

.woocommerce-order-pay, .woocommerce-checkout {
  #order_review {
    .shop_table {
      width: 100%;
      thead {
        display: none;
      }
      tbody {
        /// liste produits
        .cart_item, .order_item {
          td {
            padding: 4px 0;
            strong {
              color: $txtColor;
            }
            &.product-total, &.product-subtotal {
              text-align: right;
            }
          }
        }
      }
      tfoot {
        /// sous total
        .cart-subtotal, .cart-discount {
          th, td {
            padding: 10px 0;
            text-align: right;
          }
          th {
            padding-right: 10px;
          }
          td {
            span {
              font-weight: 700;
            }
          }
        }
        .cart-subtotal {
          th, td {
            padding-bottom: 30px;
          }
        }
        .cart-discount {
          td {
            color: $green;
          }
        }
        /// shipping
        .shipping {
          border-top: 1px solid $grey;
          td {
            color: $red;
            padding-top: 30px;
            width: 100%;
            //h3 {
            //  margin-top: 30px;
            //}
          }

        }
        /// total shipping
        .mv_shipping_totals {
          border-top: 1px solid $grey;
          th, td {
            padding: 30px 0;
            text-align: right;
          }
          th {
            padding-right: 10px;
          }
        }
        // shipping info
        .mv_shipping_infos {
          td {
            padding: 10px 0 30px;
          }
        }
        /// total
        .order-total {
          border-bottom: 1px solid $grey;
          th, td {
            padding: 0 0 30px;
            text-align: right;
          }
          th {
            padding-right: 10px;
            //&::after {
            //  content: " (TTC)"
            //}
          }
          td {
            text-align: right;
            strong {
              display: block;
              font-size: 30px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
  // message en cas de retour au paiement 
  .MessageOrderWaitingPayment {
    margin: 30px 0;
  }
}



#payment {
  /// moyen de paiement
  & > .wc_payment_methods {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -8px;
    padding-bottom: 30px;
    & > li {
      flex: 0 0 33.333%;
      padding: 8px;
      text-align: center;
      & > input {
        display: none;
        &:checked {
          & + label {
            background-color: $blueCelesteLight;
            border-color: $blue;
            outline-color: $blue;
          }
        }
      }
      & > label {
        background-color: white;
        border: 1px solid white;
        cursor: pointer;
        display: block;
        @include txt-small;
        font-weight: 700;
        outline: 1px solid $blueCelesteLight;
        padding: 60px 16px 24px 16px;
        position: relative;
        transition: border-color 0.3s ease;
        &:hover {
          border-color: $blue;
          outline-color: $blue;
          transition: border-color 0.3s ease;
        }
        img {
          left: 0;
          margin: auto;
          max-width: 125px;
          position: absolute;
          right: 0;
          top: 25px;
        }
        & + div {
          p {
            color: $txtColor;
            @include txt-small;
            margin: 8px 0;
          }
        }
      }
      //stripe
      &.payment_method_stripe {
        flex: 100%;
        text-align: center;
        & > label {
          width: 305px;
        }
        .payment_box {
          color: white;
          left: -1px;
          margin-top: 16px;
          position: relative;
          text-align: left;
          &::before {
            background-color: $blue;
            content: "";
            height: 16px;
            left: 140px;
            position: absolute;
            top: -8px;
            transform: rotate(45deg);
            width: 16px;
          }
          #stripe-payment-data {
            background-color: $blue;
            display: inline-block;
            max-width: 690px;
            padding: 12px;
            position: relative;
            // txt d'info
            & > p {
              color: white;
              margin: 0;
              padding: 8px;
              a {
                color: white;
                text-decoration: underline;
              }
            }
            & > ul, & > fieldset {
              display: inline-block;
              padding: 8px;
              vertical-align:top;
            }
            & > ul {
              width: 350px;
            }
            & > fieldset {
              width: 310px;
            }
            // choix carte
            & > ul {
              &:empty {
                display: none;
              }
              li {
                margin: 8px 0;
                position: relative;
                text-align: left;
                &:last-child {
                  margin-bottom: 0;
                }
                input {
                  left: 0;
                  position: absolute;
                  top: 4px;
                }
                label {
                  display: inline-block;
                  margin-left: 16px;
                }
              }
            }
            // formulaire carte
            & > #wc-stripe-cc-form {
              .form-row {
                text-align: left;
                label {
                  color: white;
                  font-size: 11px;
                  margin-bottom: 0;
                }
                &-first, &-last {
                  margin-bottom: 0;
                }
                &-first {
                  margin-right: 25px;
                  width: calc(50% - 25px);
                }
                &-last {
                  width: 50%
                }
              }
            }
            // checkbox save moyen paiement
            & > fieldset {
              &:last-child {
                display: flex;
                margin-left: auto;
                padding-bottom: 0;
                padding-top: 0;
                p {
                  margin: 0;
                  max-width: 305px;
                  padding-top: 8px;
                  padding-bottom: 8px;
                  text-align: left;
                  label {
                    color: white;
                    text-transform: none;
                  }
                }
              }
            }
          }
          .stripe-source-errors {
            .woocommerce_error {
              color: $red;
              margin: 12px 0 0;
              padding: 8px;
            }
          }
        }
        .wc-saved-payment-methods {
          & > li {
            margin: 8px 0;
            text-align: left;
          }
        }
        .woocommerce-validated {
          text-align: left;
          label {
            color: $txtColor;
            font-weight: normal;
            text-transform: none;
          }
        }
      }
    }
  }

  /// validation + rgpd
  & > .form-row {
    border-top: 1px solid $grey;
    margin-bottom: 0;
    padding: 30px 0;
    text-align: center;
    .woocommerce-terms-and-conditions-wrapper {
      text-align: left;
      .form-row {
        margin-bottom: 0;
      }
      .woocommerce-privacy-policy-text {
        margin-bottom: 30px;
      }
    }
    #ws_opt_in_field {
      text-align: left;
      .checkbox {
        @extend .InputContent;
        .input-checkbox {
          margin-right: 4px;
        }
      }

    }
    #place_order {
      margin: 30px 0 0;
      min-width: 200px;
      &:disabled {
        background-color: $blueCeleste;
        background-image: none;
        background-size: 100%;
        border-color: $blueCeleste;
        cursor: not-allowed;
        &:hover {
          background-color: $blueCeleste;
          border-color: $blueCeleste;
        }
      }
    }
  }
}


/// PAYEMENT RESPONSIVE

@include for-tablet-portrait {
  .woocommerce-order-pay, .woocommerce-checkout {
    #order_review {
      .cart_item {
        td {
          @include txt-small;
        }
      }
    }
    /// paiement
    #payment {
      /// moyen de paiement
      & > .wc_payment_methods {
        & > li {
          flex: 0 0 100%;
          &.payment_method_stripe {
            label {
              width: 100%;
            }
            .wc-saved-payment-methods {
              & > li {
                label {
                  font-size: 14px;
                }
              }
            }
            .payment_box {
              text-align: center;
              &::before {
                left: 50%;
                transform: rotate(45deg) translateX(-50%);
                top: 0;
              }
            }
            #stripe-payment-data {
              max-width: 340px;
              & > ul, & > fieldset {
                width: 100%;
              }
              & > fieldset {
                &:last-child {     
                  margin-left: 0;
                  p {
                    max-width: none;
                  }
                }
              }
              & > fieldset {
                &:last-child {
                  justify-content: flex-start;
                  p {
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include for-phone {
  .woocommerce-order-pay, .woocommerce-checkout {
     .place-order {
       #place_order {
         width: 100%;
         
       }
     }
  }   
  #payment {
    #wc-stripe-cc-form {
      .form-row {
        &-first {
          margin-right: 0;
          width: 100% !important;
        }
        &-last {
          width: 100% !important;
        }
      }
    }
   }
}



/// spécifique page retour boutique après paiement annulé
.woocommerce-order-pay {
  #order_review {
    border-top: 1px solid $grey;
    padding: 30px 0;
    .shop_table {
        tfoot {
          th, td {
            padding: 10px 0;
            text-align: right;
          }
        }
    }
  }
  #payment {
    border-top: 1px solid $grey;
    margin-top: 30px;
    padding: 30px 0;
  }
}


/// ERREUR DANS LE PANIER 

.woocommerce-checkout {
  .wc-backward {
    margin-top: 30px;
  }
}


/// COMMANDE VALIDÉE 

.woocommerce-order {
  .woocommerce-order-thankyou {
    margin: 50px auto;
    max-width: 640px;
  }
  .woocommerce-order-newsletter {
    margin: 50px 0 0;
  }
}
