.products {
    // ancien pour catalogue sur 2 colonnes
    &.columns-2 {
        display: flex;
        flex-wrap: wrap;
        margin: 50px -25px;
        @include for-desktop {
            margin: 15px -15px;
        }        
        @include for-phone {
            margin: 15px 0;
        }
        & > li {
            display: inline-block;
            width: calc(50% - 50px);
            margin: 25px;
            @include for-desktop {
                margin: 40px 15px;
                width: calc(50% - 30px);
            }
            @include for-phone {
                margin: 8px;
                width: 100%;
            }
        }
    }
    // catalogue + upsell
    &.columns-3, &.slick-slider {
        margin: 30px -15px;
        @include for-desktop {
            margin: 15px -15px;
        }        
        @include for-phone {
            margin: 15px 0;
        }
        .product {
            display: inline-block;
            width: calc(33.3333% - 30px);
            margin: 15px;
            @include for-desktop {
                margin: 15px;
                width: calc(33.3333% - 30px);
            }
            @include for-tablet-landscape {
                margin: 15px;
                width: calc(50% - 30px);
            }
            @include for-phone {
                margin: 8px;
                width: 100%;
            }
        }
    }
    // catalogue
    &.columns-3 {
        display: flex;
        flex-wrap: wrap;
        .product {
            @include for-tablet-portrait {
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }
}