// MINIATURE PRODUITS DANS LISTE BOUTIQUE ET LES SLIDERS
.products, .ProductsSlider {
    .product {
        position: relative;
        text-align: left;
        .woocommerce-LoopProduct-link {
            display: block;
            text-decoration: none;          
            transition: background-size 0.3s ease;
            position: relative;
            @include bg-img-product-circular($hover : true);
            &:hover {
                h2 {
                    text-decoration: underline;
                    transition: color 0.3s ease;
                }
                .attachment-woocommerce_thumbnail {
                    transform: scale(1.05);
                    transition: all 0.3s ease;
                }
            }
        }
        &-infosContainer {
            padding: 18px;
            position: relative;
            text-align: center;
            width: 100%;
        }
        .attachment-woocommerce_thumbnail {
            display: block;
            height: auto;
            margin: auto;
            position: relative;
            transform: scale(1);
            transition: all 0.3s ease;
            width: 100%;
        }
        .woocommerce-loop-product__title {
            display: block;
            @include txt-productName;
            transition: color 0.3s ease;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .product-weight {
            color: $blue;
            display: inline-block;
            font-weight: normal;
            margin-left: 4px;
            position: relative;
            z-index: 1;
        }
        .sale-mv {
            @include on-sale;
            display: inline-block;
            margin-top: 8px;
        }
        .price {
            @include txt-productPriceSmall;
            display: block;
            margin-top: 8px;
            text-decoration: none;
            position: relative;
            z-index: 1;
            ins {
                text-decoration: none;
            }
            del {
                margin-right: 8px;
                opacity: 0.5;
            }
        }
        a.button {
            background-color: $blue;
            background-image: url('img/icons/icon_cart_white.png'), url('img/bg_button_hover.svg');;
            background-position: center, top -200px left -200px;
            background-repeat: no-repeat;
            background-size: 60%, 20%;
            border: 2px solid $blue;
            border-radius: 50px;
            display: block;
            height: 54px;
            font-size: 0;
            padding: 0 !important;
            position: absolute;
            right: 48px;
            top: 200px;
            transition: all 0.5s ease;
            width: 54px;
            &:hover {
                background-color: $yellow;
                background-size: 60%, 200%;
                background-position: center, center;
                border-color: $yellow;
                transition: all 0.5s ease;
            }
            &::before {
                display: none;
            }
        }
        .onsale {
            display: none;
        }
        &:hover {
            border-color: $blue;
            transition: border-color 0.3s ease;
            .woocommerce-LoopProduct-link {
                text-decoration: none;
            }
        }
    }
    &.columns-3, &.slick-slider  {
        .product {
            .woocommerce-loop-product__title {
                font-size: 16px;
                line-height: 20px;
            }
            a.button {
                right: 28px;
                top: 130px;
            }
        }
    }
}

//// MINIATURE PRODUITS DANS LISTE BOUTIQUE ET LES SLIDERS MOBILE

@include for-tablet-landscape {
    .products, .ProductsSlider {
        .product {
            &-infosContainer {
                padding-bottom: 0;
                position: relative;
            }
            a.button {
                height: 50px;
                width: 50px;
                right: 38px;
                top: 150px;
            }
        }
    }
}


@include for-tablet-landscape {
    .products, .ProductsSlider {
        .product {
            h2 {
                font-size: 15px;
                line-height: 19px;
            }
            .price {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}

@include for-tablet-portrait {
    .products, .ProductsSlider {
        // catalogue + upsell
        &.columns-3, &.products.slick-slider {
            .product {
                a.button {
                    height: 40px;
                    width: 40px;
                    right: 38px;
                    top: 120px;
                }
            }
        }
    }
    // homepage
    .ProductsSlider {
        .product {
            a.button {
                margin: 20px auto;
                position: relative;
                right: auto;
                top: auto;
            }
        }
    }
}


@include for-phone {
    .products, .ProductsSlider {
        .product {
            margin: 32px 0 !important;
            a.button {
                margin: 16px auto 0;
                position: relative;
                right: auto;
                top: auto;
            }
        }
        // catalogue + upsell
        &.columns-3, &.products.slick-slider {
            .product {
                a.button {
                    height: 40px;
                    width: 40px;
                    right: auto;
                    top: auto;
                }
            }
        }
    }
}








// ARCHIVE PRODUIT

.single-product {
    .product {
        margin: 100px 0;
        position: relative;
        @include for-tablet-landscape {
            margin-top: 48px;
        }
        //promo
        & > .onsale {
            //bottom: auto;
            //@include on-sale;
            //left: 50%;
            //position: absolute;
            //right: auto;
            //top: -36px;
            //transform: translateX(38%);
            //z-index: 1;
            //@include for-tablet-landscape {
            //    top: -26px;
            //}
            display: none;
        }
        // photo produit hero
        .mv_product_image_hero {
            @include bg-img-product-circular();
            left: 0;
            position: absolute;
            top: 0;
            width: 50%;
            @include for-tablet-portrait {
                position: relative;
                width: 100%;
            }
        }
        // galerie photos
        .woocommerce-product-gallery {
            background-color: white;
            box-shadow: 0px 0px 15.66px 2.34px rgba(0, 0, 0, 0.2); 
            height: auto !important;
            float: left;
            margin-right: 50px;
            margin-top: 350px;
            overflow: visible !important;
            padding: 10px;
            position: relative;
            transform: rotate(-4deg);
            width: calc(50% - 25px);
            @include for-tablet-portrait {
                float: none;
                margin-bottom: 20px;
                margin-right: 0;
                margin-top: 260px;
                width: 100%;
            }
            @include for-tablet-portrait {
                margin-bottom: 60px;
                margin-top: -20px;
            }
            .woocommerce-product-gallery__wrapper {
                display: block;
                img {
                    height: auto;
                    width: 100%;
                }
            }
            ol {
                clear: both;
                list-style: none;
                margin: -5px;
                padding: 0;
                li {                    
                    cursor: pointer;
                    display: inline-block;
                    float: none;
                    padding: 5px;
                    width: 20%;
                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }

        }
        // infos produits
        .summary {
            width: calc(50% - 25px);
            float: right;
            margin-right: 0 !important;
            @include clear-after;
            @include for-tablet-portrait {
                clear: both;
                float: none;
                width: 100%;
            }
            & + * {
                clear: both
            }
            .sale-mv {
                display: inline-block;
                margin-bottom: 8px;
                @include on-sale;
            }
            .product_title {
                @include txt-titleAllCapsSecondary;
                margin-bottom: 8px;
            }
            p {
                color: $blue;
                margin-bottom: 8px;
            }
            ul {
                color: $blue;
                list-style-type: '-';
                margin: 15px 0;
                padding-left: 15px;
                li {
                    padding-left: 4px;
                }
            }
            .mv-product-excerpt-weight-price {
                @include txt-small;
                margin: 8px 0;
            }
            .stock {
                color: $txtColor;
                margin: 16px 0;
                font-weight: 700;
                &::before {
                    background-color: $green;
                    border-radius: 50px;
                    content: "";
                    display: inline-block;
                    height: 8px;
                    margin-bottom: 1px;
                    margin-right: 4px;
                    width: 8px;
                }
                &.out-of-stock {
                    color: $red;
                    &::before {
                        background-color: $red;
                    }
                }
            }
            form.cart {
                margin: 40px 0;
                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
                .change_quantity_button {
                    float: left;
                    &.minus {
                        margin-right: 4px;
                    }
                    &.plus {
                        float: right;
                        margin-left: 4px;
                    }
                }
                .quantity {                    
                    float: left;

                }
                .woocommerce-Price-amount {
                    display: inline-block;
                    @include txt-productPriceBig;
                    padding: 12px 0 0 30px;
                }
                .single_add_to_cart_button {
                    clear: both;
                    float: left;
                    margin-top: 20px;
                }
                // message rgpd relance panier
                #wcal_gdpr_message_block {
                    clear: both;
                    display: block;
                    padding-top: 20px;
                    p {
                        color: $txtColor;
                        font-style: italic;
                        a {
                            text-decoration: underline !important;
                        }
                    }
                }
            }
            .Reassurance {
                clear: both;
                display: inline-block;
                margin-top: 30px;
            }
        }
        // variations 
        .summary {
            .variations_form {
                table.variations {
                    display: none;
                }
                .single_variation_wrap {
                    .woocommerce-variation-price {
                        display: none;
                    }
                }
            }

        }
        // onglets infos produit
        .woocommerce-tabs {
            border-bottom: 1px solid $grey;
            margin-top: 100px;
            padding: 40px 0;
            position: relative;
            @include for-tablet-portrait {
                margin-top: 40px;
            }
            &::before {
                content:"";
                background-color: $yellowLight;
                bottom: 0;
                left: 50%;
                position: absolute;
                transform: translateX( -50%);
                height: 100%;
                right: 0;
                top: 0;
                width: 100vw;
                z-index: -1;
            }
            &::after {
                background-image: url('img/oeufs_beurres.png');
                background-repeat: no-repeat;
                background-size: 100%;
                content: "";
                height: 60px;
                width: 91px;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: -24px;
            }
            ul.tabs {
                border-bottom: 1px solid $grey;
                display: flex;
                flex-wrap: wrap;
                li {
                    border-bottom: 3px solid transparent;
                    flex: 0 0 33.3333%;
                    text-align: center;
                    @include for-tablet-portrait {
                        flex: 0 0 100%;
                        opacity: 0.5;
                        transition: opacity 0.3s ease;
                    }
                    &:hover:not(.active) {
                        border-bottom-color: $yellow;
                        transition: border-bottom-color 0.3s ease-in;
                        a {
                            color: $txtColor;
                            transition: all 0.2s ease-in;
                        }
                    }
                    &.active {
                        border-bottom-color: $blue;
                        @include for-tablet-portrait {
                            border-bottom: 0;
                            opacity: 1;
                            transition: opacity 0.3s ease;
                        }
                        &:hover {
                            border-bottom-color: $blue;
                        }
                    }
                    a {
                        display: inline-block;
                        @include txt-titleAllCapsSecondary;
                        font-size: 20px;
                        line-height: 24px;
                        text-decoration: none;
                        padding: 16px;
                        transition: all 0.1s ease-in;
                        @include for-tablet-portrait {
                            font-size: 16px;
                            line-height: 20px;
                            padding: 4px;
                        }
                    }
                }
            }
            .woocommerce-Tabs-panel {
                padding: 30px 0 0;
                text-align: center;
            }
        }
        // brandvalue

        .BrandValues {
            & + .up-sells {
                padding-top: 0;
            }
        }
        // produits complémentaire
        .up-sells {
            margin: 70px 0;
            padding-top: 80px;
            @include for-tablet-portrait {
                margin: 30px 0;
            }
            .PageTitle {
                .page-title {
                    @include for-tablet-portrait {
                        font-size: 30px;
                        line-height: 34px;
                    }
                    @include for-phone{
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

/// LIGHTBOX

.pswp {
    &__bg {
        background-color: rgba($color: $blue, $alpha: 0.9);
    }
    .pswp__caption, .pswp__top-bar {
        background-color: $blue;
    }
    .pswp__caption__center {
        text-align: center;
    }
    .pswp__button--arrow--right, .pswp__button--arrow--left {
        background-color: rgba($color: $blue, $alpha: 0.9) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        @include for-phone {
            display: none;
        }
        &::before {
            display: none;
        }
        &:hover {
            background-color: rgba($color: $blue, $alpha: 0.9) !important;
        }
    }
    .pswp__button--arrow--right {
        background-image: url('img/icons/icons_navigate_right_white.png') !important;
        &:hover {
            background-image: url('img/icons/icons_navigate_right_white.png') !important;
        }
    }
    .pswp__button--arrow--left {
        background-image: url('img/icons/icons_navigate_left_white.png') !important;
        &:hover {
            background-image: url('img/icons/icons_navigate_left_white.png') !important;
        }
    }
}