.change_quantity_button {
    background-color: $blue;
    border-radius: 50px;
    border: 0;
    color: white;
    height: 30px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 30px;
    &:hover {
        @include hover-button-round;
    }
}

input.qty {
    background-color: transparent;
    -moz-appearance: textfield;
    font-weight: 700;
    padding: 12px 6px;
    text-align: center;
    width: 50px;
    @include txt-productPriceBig;
    &:focus {
        border: 0;
        outline: none;
    }
}