.woocommerce-error, .woocommerce-info, .woocommerce-message {
    border: 1px solid $blue;
    font-size: 14px;
    line-height: 22px;
    margin: 30px 0;
    padding: 16px;
    width: 100%;
    &::before {
        display: none;
    }
    strong {
        color: $red !important;
    }
}


.woocommerce-error {
    background-color: $redLight;
    border-color: $red;
}

// pas de commande dans l'historique

.woocommerce-MyAccount-content {
    .woocommerce-message {
        border: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button {
            margin: 20px 0;
            order: 2;
        }
    }
}