.woocommerce, .wpcf7 {
    form, .wpcf7-form {
        padding: 0;
        fieldset {
            border: 0;
            margin: 0;
            padding: 0;
            legend {
                display: block;
                font-weight: 700;
                margin: 30px 0;
                text-transform: uppercase;
                width: 100%;
            }
        }
        .form-row {
            margin-bottom: 16px;
            padding: 0;
            &.form-row-wide {
                clear: both;
                width: 100%;
            }
            &.form-row-first {
                float: left;
                margin-right: 50px;
                width: calc(50% - 25px);
                @include for-phone {
                    float: none;
                    margin-right: 0;
                    width: 100%;
                }
            }
            &.form-row-last {
                width: calc(50% - 25px);
                float: right;
                margin-right: 0 !important;
                @include for-phone {
                    float: none;
                    width: 100%;
                }
            }
            &--send {
                margin-top: 48px;
                position: relative;
                text-align: center;
                .ajax-loader {
                    background-color: $blue;
                    opacity: 1;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
            .woocommerce-input-wrapper {
                clear: both;
                display: block;
            }
            /// LABEL
            label {
                @extend .Label;
                &.radio {
                    @extend .InputContent;
                }
                .optional {
                    font-weight: normal
                }
                .required {
                    color: $blue;
                    text-decoration: none
                }
            }
            /// INPUT
            input, textarea {
                @extend .InputContent;
                &[type=text], &[type=password], &[type=email], &[type=tel] {
                    @extend .Input;
                }
                &:disabled {
                    cursor: not-allowed;
                }
                &::placeholder {
                    opacity: 0.3;
                }
            }
            textarea {
                @extend .Input;
            }
            /// SELECT
            select {
                width: 100%;
            }
            .selection {
                .select2-container--default, .select2-selection--single {
                    border-color: $blue;
                    border-radius: 0;
                    height: 44px;
                    padding: 7px;
                    .select2-selection__arrow {
                        top: 10px;
                    }
                    .select2-selection__rendered {
                        font-weight: 700;
                    }
                } 
            }
            /// CHECKBOX
            .input-checkbox {
                margin: -4px 0 0;
            } 
            input {
                &.woocommerce-form__input-checkbox {
                    & + span {
                        @extend .InputContent;
                        margin-left: 4px;
                        text-transform: none;
                    }
                }
            }
            .wpcf7-acceptance {
                .wpcf7-list-item {
                    margin-left: 0;
                }
                .wpcf7-list-item-label {
                    @extend .InputContent;
                }
            }
            /// RADIO 
            .wpcf7-radio {
                & > * {
                    margin: 0 25px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
                .wpcf7-list-item-label {
                    @extend .InputContent;
                }
            }
            input {
                &.input-radio  {
                    margin-top: 2px;
                }
            }
            /// FILE 
            .wpcf7-file {
                margin: 15px 0;
            }

            //SUBMIT
            .wpcf7-submit {
                @extend .Button;
                min-width: 230px;
                &:disabled {
                    opacity: 0.4;
                }
            }

            em {
                @include txt-small;
            }
            .woocommerce-password-strength {
                @include txt-small;
                margin: 8px 0;
                &.short, &.bad {
                    color: $red;
                }
            }
            .woocommerce-password-hint {
                @include txt-mini;
            }
        }
        .form-info {
            clear: both;
            display: block;
            @include txt-small;
            margin: 20px 0;
        }
        .woocommerce-Button {
            @include for-phone {
                width: 100%;
            }
        }
        .wpcf7-response-output {
            background-color: $redLight;
            border: 1px solid $red;
            color: $red;
            @include txt-small;
            margin: 30px 0;
            text-align: center;
        }
        .wpcf7-not-valid-tip {
            @include txt-mini;
            position: absolute;
            right: 0;
        } 
    }
}

.wpcf7 form.sent {
    .wpcf7-response-output {
        background-color: $greenDark;
        color: white;
    }
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: $red;
}

//////////////// STYLES CUSTOM + MISE EN FORME

// LOGIN
.woocommerce {
    form.woocommerce-form-login {
        .mv-woocommerce-form-login-container {
            .mv-woocommerce-form-login-title {
                @include txt-titleAllCapsSecondary;
                display: block;
                margin-bottom: 20px;
                text-align: center;
                width: 100%;
            }
            & > p {
                &.form-row-first, &.form-row-last {
                    @extend .form-row-wide;
                    margin-right: 0;
                }
            }
        }
        .woocommerce-form-login__rememberme {
            display: block;
            margin: 16px 0 32px;
            text-align: center;
            @include for-phone {
                margin: 16px 0;
            }
        }
        .woocommerce-form-login__submit {
            display: block;
            float: none;
            margin: auto;
        }
        .lost_password {
            display: block;
            text-align: center;
            a {
                @extend a.edit;
            }
        }
        .woocommerce-form-login__submit {
            margin: 16px auto 0;
        }
    }
}



//LOGIN CHECKOUT

.wp-multi-step-checkout-step {
    .woocommerce-form-login {
        & > p {
            &:first-child {
                @include txt-titleAllCapsSecondary;
                margin-bottom: 20px;
                text-align: center;
            }
        }
        .woocommerce-form-login__rememberme {
            display: none !important;
        }
    }
}



// REGISTER CHECKOUT

.woocommerce {
    form.register {
        border: 0;
        margin: 0;
        padding: 0;
        #civilite_field {
            label, #civilite_H, #civilite_F {
                float: left;
            }
            #civilite_F {
                margin-left: 16px;
            }
            .woocommerce-input-wrapper {
                label {
                    float: left;
                    padding-left: 4px;
                }
            }
        }
        .woocommerce-privacy-policy-text {
            margin-bottom: 24px;
            p {
                @include txt-small;
            }
        }
        & > .form-row {
            &:nth-child(2), &:nth-child(3) {
                @extend .form-row-wide;
            }
            &:last-child {
                text-align: center;
            }
        }
    }
}

// BILLING & SHIPPING

.woocommerce-billing-fields, .woocommerce-shipping-fields {
    h3 {
        color: $txtColor;
        @include txt-normal;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    #billing, #shipping {
        //&_country_field {
        //    display: none;
        //}
        &_address_1_field {
            @extend .form-row-first;
        }
        &_address_2_field {
            @extend .form-row-last;
            clear: none;
            margin-top: 30px;
            @include for-phone {
                margin-top: 0;
            }
        }
        &_postcode_field {
            @extend .form-row-first;
            clear: none;
        } 
        &_city_field {
            @extend .form-row-last;
            clear: none;
        }
        &_phone_field {
            @extend .form-row-first;
        }
        &_email_field {
            @extend .form-row-last;
            clear: none;
            margin-bottom: 50px;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }
    .mv_billing_infos, #wcal_gdpr_message_block {
        color: $blue;
        display: block;
        margin-top: 16px;
        max-width: 450px;
        @include txt-small;
    }
}


// SHIPPING

.woocommerce-shipping-fields {
    clear: both;
    #ship-to-different-address {
        color: $txtColor;
        @include txt-normal;
        font-weight: 700;
        margin: 50px 0;
    }
}

//CHAMPS PAYS

#billing_country_field, #shipping_country_field {
    .woocommerce-input-wrapper {
        @extend .Input;
        @extend .Input--disabled;
    }
}


// EDIT ACCOUNT

.woocommerce-account {
    .woocommerce {
        fieldset {
            border-bottom: 1px solid $grey;
            margin-bottom: 30px;
            padding: 10px 0;
            legend {
                border-top: 1px solid $grey;
                margin-bottom: 10px;
                padding-top: 50px;
            }
        }
    }
} 

/// RECRUTEMENT 

.form-infos-recrutement {
    p {
        margin: 10px 0;
    }
}

// MDP oublié

.woocommerce-ResetPassword {
    .woocommerce-form-row--first, .woocommerce-form-row--last{
        margin-top: 30px;
    }
}