//GLOBAL

.woocommerce-products-header {
}

//.woocommerce-products-header__title,  .page-title {
//    display: block;
//    margin: 48px 0;
//    text-align: center;
//}

// BOUTIQUE
//.woocommerce {
//    ul.products {
//        &--homepage {
//            display: flex;
//            & > * {
//                flex: 0 0 50%;
//            }
//        }
//    }
//}

//.woocommerce-LoopProduct-link, .woocommerce-loop-product__link {
//    display: block;
//    &:hover {
//        border-color: $blue;
//    }
//}

//.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
//    font-size: 18px;
//    font-weight: 700;
//    line-height: 22px;
//    padding-bottom: 0;
//    padding-top: 0.5em;
//}

//.woocommerce ul.products li.product .price {
//    color: $blue;
//    font-size: 18px;
//    font-weight: 700;
//    line-height: 22px;
//    padding-bottom: 0.5em;
//}

//.woocommerce ul.products li.product .onsale, .woocommerce span.onsale {
//    background-color: $blueCeleste;
//    border-radius: 0;
//    font-size: 12px;
//    line-height: 14px;
//    margin: 0;
//    min-height: 0;
//    min-width: 0;
//    padding: 4px 8px;
//    position: absolute;
//    right: 0;
//    top: 0;
//}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  @extend .Button;
}

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
  top: 14px;
}

a.added_to_cart.wc-forward {
  display: none;
}

//.woocommerce ul.products li.product .button {
//    margin-top: 1.5em;
//}

//PRODUIT

//.woocommerce div.product .summary .product_title {
//    margin-bottom: 24px;
//    line-height: 36px;
//}
//
//.woocommerce div.product .summary .product_title + p {
//    margin-bottom: 24px;
//}
//
//.woocommerce div.product p.price, .woocommerce div.product span.price {
//    color: $txtColor;
//    font-size: 16px;
//    margin-bottom: 24px;
//}
//
//.woocommerce div.product form.cart {
//    align-items: flex-start;
//    display: flex;
//    flex-direction: column;
//}

//.woocommerce div.product form.cart {
//
//    .minus, .plus {
//        background-color: $blueCeleste;
//        border: 0;
//        border-radius: 50px;
//        color: $blue;
//        display: inline-block;
//        float: left;
//        height: 40px;
//        width: 40px;
//    }
//    .minus {
//        margin-right: 8px;
//    }
//    .plus {
//        margin-left: 8px;
//    }
//    .quantity {
//        float: left;
//        margin: 0 8px;
//    }
//    .single_add_to_cart_button {
//        clear: both;
//        float: left;
//    }
//
//}

//.woocommerce div.product form.cart div.quantity {
//    margin-bottom: 24px;
//}
//
//.woocommerce .quantity .qty {
//    background-color: $grey;
//    color: $blue;
//    -moz-appearance: textfield;
//    padding: 12px;
//    width: 4.2em;
//    &:focus {
//        border: 0;
//        outline: none;
//    }
//}

//.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
//    @extend .Button;
//}
//
//.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
//    @extend .Button;
//}
//
//.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
//    margin: 56px 0;
//    text-align: center;
//}
//
//.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
//    color: $blue;
//}
//
//.woocommerce div.product .woocommerce-tabs ul.tabs li a {
//    font-size: 20px;
//    line-height: 24px;
//}
//
//.woocommerce div.product .woocommerce-tabs ul.tabs {
//    display: flex;
//    padding: 0;
//}
//
//.woocommerce div.product .woocommerce-tabs ul.tabs li {
//    background-color: white;
//    border: 0;
//    border-bottom: 1px solid $greyDark;
//    margin: 0;
//    width: 50%;
//}
//
//.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
//    border-bottom-color: $blue;
//    border-bottom: 3px solid $blue;
//}
//
//.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
//    display: none;
//}
//
//.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
//    display: none;
//}
//
//.woocommerce span.onsale {
//    left: 0;
//    right: auto;
//}

//.woocommerce div.product p.stock {
//    color: $txtColor;
//    font-weight: 700;
//    margin-bottom: 24px;
//    &::before {
//        background-color: $green;
//        border-radius: 50px;
//        content: "";
//        display: inline-block;
//        height: 8px;
//        margin-bottom: 1px;
//        margin-right: 4px;
//        width: 8px;
//    }
//    &.out-of-stock {
//        color: $red;
//        &::before {
//            background-color: $red;
//        }
//    }
//}

//.woocommerce {
//    .entry-summary {
//        .cart {
//            position: relative;
//            #product_total_price {
//                margin-top: 8px;
//                .woocommerce-Price-amount {
//                    color: $blue;
//                    font-size: 20px;
//                    line-height: 24px;
//                    margin-left: 16px;
//                }
//            }
//        }
//
//    }
//}

.single-product div.product form.cart .quantity {
  float: none;
  margin: 0;
  display: inline-block;
}

//CHECKOUT



//.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
//    width: 100%;
//}
//
//.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
//    @extend .Input;
//}
//
//.woocommerce form .form-row textarea {
//    min-height: 150px;
//}
//
//.woocommerce form .form-row {
//    margin: 0;
//    padding: 0;
//}
//
//.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
//    margin: 0;
//    padding: 0;
//}
//
//.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
//    margin: 0;
//    padding: 0;
//}
//
//.woocommerce {
//    form {
//        .form-row {
//            margin: 0 0 24px;
//            padding: 0;
//        }
//    }
//}
//
//.wpmc-steps-wrapper {
//    margin: 40px auto 64px;
//    max-width: 770px;
//    .checkout.woocommerce-checkout, .woocommerce_checkout_login {
//        h3 {
//            color: $txtColor;
//            margin-bottom: 32px;
//        }
//    }
//}
//
//select#address_book {
//    appearance: none;
//    background-image: url('img/select-dropdown.svg');
//    background-repeat: no-repeat;
//    background-size: 8px 5px;
//    background-position: right 10px center;
//    box-shadow: none;
//    border: 1px solid $blue;
//    border-radius: 4px;
//    padding: 10px 12px;
//}
//
//.select2-container--default .select2-selection--single {
//    border-color: $blue;
//    height: auto;
//    padding: 5px 12px;
//}
//
//.select2-dropdown {
//    border-color: $blue;
//}
//
//.select2-container--default .select2-selection--single .select2-selection__arrow {
//    top: 7px;
//}
//
//.select2-search--dropdown {
//    padding: 4px 18px;
//}

.wpmc-tabs-wrapper {
  margin-top: 56px;
}


.wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number {
  line-height: 31px;
}

//.woocommerce-billing-fields, .woocommerce-shipping-fields {
//    #billing_first_name_field, #shipping_first_name_field {
//        display: inline-block;
//        margin-right: 1.1em;
//        width: 48.5%;
//    }
//    #billing_last_name_field, #shipping_last_name_field {
//        display: inline-block;
//        width: 48.5%;
//    }
//    #billing_address_1_field, #shipping_address_1_field {
//        margin-bottom: 4px;
//    }
//    #billing_postcode_field, #shipping_postcode_field {
//        display: inline-block;
//        margin-right: 1.1em;
//        width: 30%;
//    }
//    #billing_city_field, #shipping_city_field {
//        display: inline-block;
//        width: 67%;
//    }
//    #billing_phone_field, #shipping_phone_field {
//        display: inline-block;
//        margin-right: 1.1em;
//        width: 48.5%;
//    }
//    #billing_email_field, #shipping_email_field {
//        display: inline-block;
//        width: 48.5%;
//    }
//}

.woocommerce-form-coupon-toggle {
  display: none;
}

.checkout_coupon {
  border: 1px solid #d3ced2 !important;
  display: block !important;
  height: 190px !important;
  margin: 2em 0 !important;
  padding: 20px !important;
  position: relative !important;
  transform: none !important;
  zoom: 1 !important;
}

//.woocommerce form.checkout_coupon { display:block !important; }
//
//.woocommerce form.checkout_coupon, .woocommerce form.register {
//    p {
//        margin-bottom: 16px;
//    }
//    .form-row {
//        margin-bottom: 16px;
//    }
//    .form-row-last {
//        margin-bottom: 0;
//    }
//}
//
//.woocommerce form.login {
//    p {
//        margin-bottom: 16px;
//    }
//    .form-row-last {
//        margin-bottom: 24px;
//    }
//    .lost_password {
//        margin-bottom: 0;
//    }
//}


//MON COMPTE

//body.woocommerce-account {
//    .woocommerce {
//        #customer_login {
//            h2 {
//                @extend h3;
//                margin: 24px 0;
//            }
//            .woocommerce-form-login {
//                margin: 0;
//            }
//            .woocommerce-form-register {
//                margin: 0;
//            }
//        }
//    }
//}

//.woocommerce form .form-row label {
//    @extend .Label;
//}


//.woocommerce-MyAccount-content {
//    form.woocommerce-EditAccountForm {
//        & > .woocommerce-form-row {
//            &:nth-child(1), &:nth-child(2) {
//                display: inline-block;
//                width: 48.5%;
//            }
//            &:nth-child(1) {
//                margin-right: 1.1em;
//            }
//        }
//        em {
//            font-size: 13px;
//            opacity: 0.8;
//        }
//        fieldset {
//            border: 0;
//            border-top: 1px solid $greyDark;
//            margin: 24px 0;
//            padding: 24px 0 0;
//            legend {
//                border-top: 1px solid $greyDark;
//                display: block;
//                font-weight: 700;
//                padding-top: 24px;
//                width: 100%;
//            }
//        }
//    }
//}

//.woocommerce-MyAccount-content {
//  .woocommerce-order-details {
//    margin-top: 24px;
//  }
//  .woocommerce-order-details__title,
//  .woocommerce-customer-details .woocommerce-column__title {
//    @extend h3;
//    font-size: 18px;
//    margin-bottom: 24px;
//  }
//}

//MESSAGE

//.woocommerce-error, .woocommerce-info, .woocommerce-message {
//    margin-top: 8px;
//}

//#shipping_address_nickname-description {
//  display: none !important;
//}

// REGISTRATION

//.woocommerce {
//    form.register {
//        border: 0;
//        margin: 0;
//        padding: 0;
//        #civilite_field {
//            #civilite_H, #civilite_F {
//                float: left;
//            }
//            #civilite_F {
//                margin-left: 16px;
//            }
//            .woocommerce-input-wrapper {
//                label {
//                    float: left;
//                    padding-left: 4px;
//                }
//            }
//        }
//        .woocommerce-privacy-policy-text {
//            font-size: 12px;
//            line-height: 16px;
//        }
//        #privacy_policy_reg_field {
//            .woocommerce-form__label-for-checkbox {
//                display: block;
//                position: relative;
//                input {
//                    position: absolute;
//                    left: 0;
//                    top: 3px;
//                }
//                span {
//                    color: $txtColor;
//                    display: inline-block;
//                    text-transform: none;
//                    padding-left: 16px;
//                }
//                .required {
//                    color: red;
//                    padding-left: 2px;
//                }
//
//            }
//        }
//        .woocommerce-form-register__submit {
//            width: 100%;
//        }
//    }
//}
