.History {
    position: relative;
    &-line {
        position: absolute;
        z-index: -1;
        @include for-tablet-landscape {
            display: none;
        }
    }
    &-line--1 {
        left: -60px;
        top: -94px;
        max-width: 500px;
    }
    &-line--2 {
        right: 0;
        top: -180px;
    }
    &-line--3 {
        max-width: 515px;
        right: 0;
        top: -40px;
    }
    &-line--4 {
        left: 150px;
        max-width: 70px;
        top: -120px;
    }
    &-line--5 {
        left: 180px;
        max-width: 550px;
        top: -20px;
    }
    &-line--6 {
        max-width: 560px;
        right: 120px;
        top: 20px;
    }
    &-line--7 {
        left: -90px;
        max-width: 87px;
        top: -140px;
        @include for-desktop {
            left: -30px;
            max-width: 60px;
            top: -90px;
        }
        @include for-tablet-landscape {
            display: none;
        }
    }
    &-mobile-line {
        display: none;
        position: absolute;
        z-index: -1;
        @include for-tablet-landscape {
            display: block;
        }
        @include for-phone {
            left: 0 !important;
            margin: auto !important;
            right: 0 !important;
        }
        &--1 {
            left: 50%;
            max-width: 190px;
            top: -120px;
            @include for-phone {
                max-width: 90px;
                top: -60px;
            }
            @include for-small-phone {
                left: 25%;
            }            
        }
        &--2 {
            left: 25%;
            max-width: 350px;
            top: -120px;
            @include for-phone {
                max-width: 175px;
                top: -60px;
            }
            @include for-small-phone {
                left: 25%;
            }              
        }
        &--3 {
            left: 40%;
            max-width: 184px;
            top: -120px;
            @include for-phone {
                max-width: 92px;
                top: -60px;
            }
        }
        &--4 {
            left: 30%;
            max-width: 340px;
            top: -110px;
            @include for-phone {
                left: 20%;
                max-width: 170px;
                top: -55px;
            }

        }
    }
}