.HistoryStep {
    position: relative;
    &-content {
        display: flex;
        @include for-tablet-landscape {
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            max-width: 500px;
            margin-top: 130px !important;
            text-align: center !important;
        }
        @include for-phone {
            margin-top: 75px !important;
        }
    }
    &-colTxt {
        max-width: 500px;
        h2 {
            @include txt-titleAllCapsSecondary;
        }
        p {
            margin-bottom: 0;
        }
        @include for-tablet-landscape {
            order: 2;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
    &-colImg {
        @include for-tablet-landscape {
            order: 1;
            margin: 0 0 20px !important;
            padding: 0 !important;
        }
    }

    /////// STEPS
    &--1 {
        .HistoryStep-content {
            align-items: center;
        }
        .HistoryStep-colImg {
            max-width: 270px;
            margin-right: 40px;
        }
    }
    &--2 {
        @include for-tablet-landscape {
            display: none;
        }
        .HistoryStep-content {
            justify-content: flex-end;
        }
        .HistoryStep-colImg {
            margin-right: -80px;
            max-width: 335px;    
            @include for-desktop {
                margin-right: 0;
            }    
        }
    }
    &--3 {
        .HistoryStep-content {
            margin-top: 40px;
            text-align: right;
        }
        .HistoryStep-colImg {
            margin-top: 60px;
            max-width: 540px;
        }
        .HistoryStep-colTxt {
            padding-right: 80px;
        }
    }
    &--4 {
        .HistoryStep-content {
            align-items: center;
            margin-top: 40px;
        }
        .HistoryStep-colImg {
            margin-right: 60px;
            max-width: 313px;
        }
    }
    &--5 {
        .HistoryStep-content {
            margin-top: 40px;
            text-align: right;
        }
        .HistoryStep-colTxt {
            padding-top: 130px;
        }
        .HistoryStep-colImg {
            margin-left: 60px;
        }
    }
    &--6 {
        @include for-tablet-landscape {
            display: none;
        }
        .HistoryStep-colImg {
            max-width: 148px;
        }
    }
}